[2020-03-13 02:52] tuxology opened #2 "Decide if we call a creation a Project or Video or something else"
This is related to #1 PR where we called individual creation pages as `Video`

[2020-08-23 23:48] srish commented on #2
I'm realizing it should be project, we might end up supporting other media formats as well, so project might make sense in this case.

[2020-08-28 01:44] srish opened #13 "Store API results in a cookie"
Now that we have to rely on API data multiple times, with the new categories feature, we need to figure out a way to store the results we get from Vimeo API in a session cookie and not to make the API call multiple times.

[2020-08-28 03:19] srish commented on #13
addressed via https://github.com/unstructuredstudio/zubhub/pull/14

[2020-08-28 03:19] #13 closed

[2020-08-29 21:02] srish opened #16 "Likes feature is buggy"
Likes are not getting counted and displayed properly...

[2020-09-01 02:56] srish commented on #16
Via #17

[2020-09-01 02:56] #16 closed

[2020-09-01 23:41] srish commented on #2
Only routes changed for now via https://github.com/unstructuredstudio/zubhub/pull/20. Code refactoring can be done later...

[2020-09-02 00:04] srish opened #21 "Show an error when a user tries to post a comment without filling the username field"

[2020-09-02 00:07] srish opened #22 "Sort comments by newest first"

[2020-09-02 00:11] srish opened #23 "Search for projects that include a keyword in their title and description"

[2020-09-02 16:17] tuxology opened #25 "Misc UI Improvements"
- [ ] Footer needs the be pushed down to bottom
- [ ] On large screens, comments area looks large. Maybe reduce `max-width` or think about alternative alignments on large screens
- [ ] On big screens, font appears too bold and bigger (esp in button)
- [ ] On 13", 2 videos in one row. may be there should be 3 in one row [revisit this]

[2020-09-02 16:20] tuxology opened #26 "Investigate if we can hide video controls on gallery screen"
Refer https://developer.vimeo.com/player/sdk/embed) to see whats possible

[2020-09-03 03:21] #21 closed

[2020-09-03 23:44] srish commented on #26
It looks like we can hide title, avatar, sidedock (likes, watch later, share) and controls with: `?title=0&portrait=0&byline=0&controls=0`. We can also upload custom logo from the Vimeo platform. We can hide title and avatar on a free account, for removing other stuff we need to upgrade to a pro or plus account: https://vimeo.com/upgrade. So, let's only do what we can on a free account right now.

[2020-09-03 23:45] srish commented on #26
via https://github.com/unstructuredstudio/zubhub/pull/30

[2020-09-03 23:45] srish commented on #22
via https://github.com/unstructuredstudio/zubhub/pull/27

[2020-09-03 23:45] #22 closed

[2020-09-08 02:13] srish opened #33 "Change logic for GET /api/project/:id"
Currently, [GET /api/project/:id](https://github.com/unstructuredstudio/zubhub/blob/master/routes/fetchVideos.js#L24
) route fetches all videos if there aren't already found in the session object. Ideally, we don't rely on the Vimeo `me/videos` call for this instead [fetch a specific video](https://developer.vimeo.com/api/reference/videos#get_video)  as this call might be presumably less expensive

[2020-09-08 02:14] srish opened #34 "Link logo to Unstructured Studio's site"
Plus, link to source code.

[2020-12-22 09:25] srish commented on #25
Similarly all the other errors coming from Django, e.g., "This field is required".. could be ideally placed below each input field if possible.

[2020-12-22 10:47] srish opened #37 "Share projects privately with another user"
In the user testing today with a 6th grader, the user shares a wish to share projects with others privately. I think this is super ambitious for us at this point. Something to consider in the future..

[2020-12-22 17:22] tuxology commented on #37
I think this is not that ambitious. Each project can have a flag which says if its visible in gallery or not. If its not, the only way to view this is by direct link (which is already present anyways)

[2020-12-22 18:32] NdibeRaymond commented on #34
3mb is kind of like an average. I think this is because we never really talked about what should be reasonable image size. What do you think we should use here?

[2020-12-22 18:36] NdibeRaymond commented on #33
Ok. I will push a fix for this

[2020-12-22 19:10] NdibeRaymond commented on #26
This was a tough one since material dob field doesn't have functionality for adding a fixed label. and removing the label is not an option. But perhaps I can come up with a hack

[2020-12-22 19:13] NdibeRaymond commented on #25
The problem with this is that certain errors from django come without context. I will find a way to make this happen though

[2020-12-22 19:18] NdibeRaymond commented on #37
This is true. We already have the functionality to publish and unpublish a project (though the default for now is "true"). We can just give the user the ability to save a project for further editing or publish it.

[2021-01-06 21:08] NdibeRaymond opened #56 "Document Problems faced during deployment (like ssl and https issues we encountered)"
Before deploying and during the first few days after deployment, we faced a number of production grade problems some of which had to do with SSL and https. There is a need to document how these problems where solved. This is so as to make sure that other people who get to work on this project don't end up making the same mistake we made and solving the same problems over again

[2021-01-17 02:50] NdibeRaymond commented on #25
Hello @srish , I am looking at this right now and I have a few things to say. I don't think trying to detect the exact problem with the username field is a good idea as there are perhaps hundreds of characters that are unsupported and trying to detect every one of them so we can customize the error message is a bit of a nightmare. What we can do is display an error message stating the allowed char

[2021-01-18 20:10] srish commented on #25
@NdibeRaymond Okay, I agree! Maybe we show the errors not on the top of the page but beneath the input field where we show other errors. What say?

[2021-05-26 02:22] srish opened #164 "Images preview not available in the "edit project" form"
For example, in the form below, next to the image field, it says 2 images added but there is no preview of those images available:
<img width="707" alt="Screen Shot 2021-05-25 at 5 39 17 PM" src="https://user-images.githubusercontent.com/288353/119587605-de20f780-bd83-11eb-839d-ef4d669cc94a.png">

Ideally, there are image previews shown in the edit project form.

[2021-05-26 02:43] srish opened #168 "Nest "my profile", "followers", "following" under "my projects" or remove them completely from the user menu"
Observe how in FB/ Twitter UX, there isn't a repeat of these fields in the user menu. Something for us to revisit later..

<img width="326" alt="Screen Shot 2021-05-25 at 7 40 47 PM" src="https://user-images.githubusercontent.com/288353/119594699-21ce2e00-bd91-11eb-8b0f-f7711982ab02.png">

[2021-05-26 02:46] srish opened #169 "Delete account option shouldn't pop up easily"
It makes me nervous when the delete account pops up so easily. This option shouldn’t be made available on the profile page, and instead moved under the user menu as “Delete account”.

[2021-05-26 02:49] srish opened #170 "Odd space in the top border in the input fields"
Are we using the react native controls and is this their intended behavior? I'm wondering why there is too much space between the label and the input top border on the right.

<img width="685" alt="Screen Shot 2021-05-25 at 7 47 33 PM" src="https://user-images.githubusercontent.com/288353/119595218-10d1ec80-bd92-11eb-89cd-c0d97cc4956d.png">

[2021-05-26 03:27] srish opened #172 "Tweak design to differentiate between tags, categories and materials used"
The high-level issue here is that it is hard right now to differentiate between tags, categories and materials used.

A few other related issues:
* It is not obvious that the tags are tags. How can we make them more prominent / visible?
* Category does not indicate that it is clickable. Probably underline it, or invert the colors? (gray chip).

And, then there is an alignment issue:
* Tags, catego

[2021-05-26 03:43] srish opened #173 "Uneven padding / spacing between icons on the video's button bar"
Uneven padding / spacing between icons on the video's button bar, more visible when the bar becomes horizontal. The horizontal bar is full width which is  not ideal as well. It should be grouped on the right with some indication that they are clickable. Before working on this, it may be important to sketch some ideas and gather feedback

<img width="587" alt="Screen Shot 2021-05-25 at 8 38 19 PM"

[2021-05-26 03:58] srish opened #176 "Font sizes are non-uniform in a few elements and pages"
- [ ] Observe the font sizes in navbar buttons and in text below:
<img width="710" alt="Screen Shot 2021-05-25 at 8 54 49 PM" src="https://user-images.githubusercontent.com/288353/119600258-8abaa380-bd9b-11eb-847e-12f8237243d0.png">

- [ ] Observe how footer text is too small for the project page text:
<img width="739" alt="Screen Shot 2021-05-25 at 8 55 04 PM" src="https://user-images.githubuserc

[2021-05-26 03:59] srish opened #177 "Improvements to search bar"
- [ ] Use darker colored search bar

<img width="325" alt="Screen Shot 2021-05-25 at 8 58 55 PM" src="https://user-images.githubusercontent.com/288353/119600524-13394400-bd9c-11eb-8b65-12e7a629cdaf.png">

- [ ] Center the searchbar on large screens.
<img width="324" alt="Screen Shot 2021-05-25 at 8 59 02 PM" src="https://user-images.githubusercontent.com/288353/119600533-17656180-bd9c-11eb-951d-d0

[2021-06-08 07:11] srish opened #182 "Draft mode for edit project feature"
The child user recommends to implement this features as it would be super helpful for users with poor internet connection. If the internet randomly disconnects or the computer shuts down, the changes made to the project will currently not be saved.

[2021-06-17 02:07] srish opened #195 "Switching to “Hindi” doesn’t change the heading in the hero image and the “Activity of the month” title in the graphic"
There might be other places as well where this is happening and to be fixed.

[2021-06-17 02:11] srish opened #198 "Allow email address and phone number to be changed"
Currently, to edit email and password, one needs to send an email to an admin. Visit, https://zubhub.unstructured.studio/edit-profile and see email and password field. For reference, see screenshot below:

![Screen Shot 2022-05-16 at 5 09 11 PM](https://user-images.githubusercontent.com/288353/168701936-a9871617-1f20-44c2-9352-bcc933734984.png)

Ideally, user should be able to change the address a

[2021-06-17 02:13] srish opened #200 "Improve the UX around tags"
This feature enhancement consists of two parts:

- How can we make it more clear what tags mean?
- How can we improve the UX around tags. First, we are expecting users to read the help text and understand that they need to enter a comma after every tag they insert. I think it is not the most intuitive design. Second, using a comma at the end of a word so it turns into a tag is confusing. Let's say

[2021-06-17 02:14] srish opened #201 "Improve the UX around categories"
It is not immediately clear right now which category option one should pick for their project. Instead of a dropdown, I wonder if we show a grid of options in the form of grayed-out buttons with images illustrating each category, which might be more helpful for the user. It might also be beneficial to seek a UX designer's input on whether or not we should allow picking multiple categories.

[2021-06-17 02:14] srish opened #202 "Allow more than 1 video to be added"
Limit to be decided

[2021-06-17 02:15] srish opened #203 "Long usernames getting cut off from the user menu"

[2021-06-17 02:16] srish opened #205 "Allow creation of learning activities on ZubHub web app"
Based on feedback from educators, a critical feature that we need is to allow the creation of learning activities on ZubHub web app. Currently, the learners and educators browse the activity on a different website, hosted by Unstructured Studio "http://kriti.unstructured.studio," which is based on Ghost, a blogging platform solely administered by Unstructured Studio team members. The new feature i

[2021-06-22 03:49] tuxology opened #207 "Add Login or Sign Up button when user clicks share a project/create project when not logged in"
Clicking "Share A project" button when not logged-in shows the following:

![image](https://user-images.githubusercontent.com/3373857/122860122-fe37ce00-d2d1-11eb-821f-13bb9fd0fc3f.png)

There is no “sign-in” button. The only way to reach the “login” button is by clicking the hamburger menu. We should have dedicated buttons in such cases saying “Login” and “Sign Up” and also notify user that they

[2021-06-22 03:53] tuxology opened #208 "Scroll freezes when menu is open on mobile"
### Issue
Upon clicking hamburger menu on mobile (Chrome/Safari), the Menu shows up but does not go away. This is fine because the user may want to click on something. But when you begin scrolling, it still does not go away and the scroll does not work.

![image](https://user-images.githubusercontent.com/3373857/122860462-9afa6b80-d2d2-11eb-8d95-4e91ae272fcf.png)

### Workaround
Only when tapping

[2021-06-22 03:57] tuxology opened #209 "Error Notification on Sign Up gets hidden on mobile UX"
### Issue
When signing up on mobile device, any notification (eg password mismatch etc.) shows up at top (below heading) when you tap **Sign Up**. Since the form is long, the user is unaware of what they are missing and the app just seems stuck when you tap **Sign Up**

### Expected Outcome
The error should be shown on top of screen/bottom of screen like other notifications using standard notifica

[2021-06-22 04:07] tuxology opened #211 "Buttons in Project Page on mobile need realignment"
### Expected Outcome

- [ ] Edit should be right aligned and placed along with Delete
- [ ] Clap, bookmark and views button should be equally spaced or left/right aligned and packed together
- [ ] Too much vertical spacing between clab,bookmark,view button row and photos div

![image](https://user-images.githubusercontent.com/3373857/122861614-8fa83f80-d2d4-11eb-8246-78d78a88366b.png)

[2021-06-28 14:14] NdibeRaymond commented on #207
Thinking about something. Won't a better ux be to redirect the user to the login page without requiring them to click on a button to do that?

[2021-07-03 18:32] srish opened #222 "Auto translation of whole ZubHub in multiple languages"
We need this feature to support translation of static as well as dynamic data .
* Static (e.g., header on home page, nav bar titles, description in about page, etc.)
* Dynamic (e.g., projects, comments, user profile, etc.)

Perhaps something of this sort like Facebook does:
![Screen Shot 2021-07-03 at 11 30 46 AM](https://user-images.githubusercontent.com/288353/124363778-212b8180-dbf2-11eb-84dd-0

[2021-07-03 22:42] srish opened #223 "Handling incorrect video url"
Might be in the following project: https://zubhub.unstructured.studio/projects/7a729910-86bd-419a-8fd4-8c9c268d60bd, the student entered an incorrect url. And, so now the message we get as a result of it is "www.youtube.com refused to connect.". Might be we can do some url validation here and show an error message to user as well as a thumbnail for missing videos.

[2021-07-04 19:34] srish opened #226 "Improve navigation on mobile view"
It is not immediately clear how to navigate back and forth between the home screen and a project page on mobile. It is not clear to students that clicking the ZubHub logo can take them to the home page. And, same when they are on the homepage and want to go to a project, it is not clear to them that they can click on the top-right icon from the user menu to create a project.

[2021-07-04 19:38] srish opened #227 "[Outreach] Test out the SMS/Email feature and reach out to subscribed users"
Check if this feature works and if so, use it to send out messages to subscribed users about the beta launch and upcoming activities and workshops.

[2022-01-07 03:07] tuxology opened #277 "Description should support basic formatting and line endings"
Current description does not adhere to line endings or links to external sites etc. Allow a little bit of rich text editing (Bullet points, `code formatting`, **bold text** etc). As a result, formatted text added by someone changes to just a paragraph style blob.

[2022-01-08 20:04] NdibeRaymond commented on #223
@srish we are already doing url validation for videos urls, the problem is that there is no way to know if the video id points to an existing video if the submitted url adheres to the correct validation rules. for example https://youtube.com/dlksdjsldklskd is still a valid video url since the format adheres to the url format, however that doesn't mean the video exists in youtube's database.

[2022-01-08 21:10] NdibeRaymond commented on #207
@tuxology ?

[2022-02-11 03:30] ghost opened #284 "Add notifications model and add/update/delete endpoints"
## Description

In order for the user to see a list of the notifications they haven't seen we need to store them in a table.

## Learning objectives

- Creating models in Django
- Creating/testing endpoints

## Todo

- [x] Create notifications model
- Model should contain notification message, notification recipient, whether it has been viewed or not, Date added

- [x] Notification endpoints - Upd

[2022-02-11 03:54] ghost opened #285 "Experiment with Whatsapp Twilio API"
## Description

Users of the website want to be able to receive notifications through WhatsApp

## Learning objectives

- Using Twilio WhatsApp Api

## Todo

- [x] Determine if django-twilio package is suitable for whatsapp message sending
- [x] Create twilio account and get relevant credentials
- [x] Create test endpoint for testing notifs
- [x] Create helper function/class with sample template t

[2022-02-13 18:31] NdibeRaymond commented on #284
Since notifications are kind of like a personal experience (my notifications doesn't necessarily need to be the same as yours), I think a better data model is for notifications model to have a one to many relationship with the Creator model (this was actually the intention of the task creator as pointed out by @ajain1921)

Also, since notifications are feedbacks from the system to users based on c

[2022-02-13 19:01] NdibeRaymond opened #290 "We should make Code documentation and testing a priority"
## Description
Developing this codebase, it was easier to avoid regression since I know every path of the system. Now that we are onboarding new devs, It will progressively become more difficult to avoid regression as more changes are made to the system. There is a need to focus on documenting the codebase and testing testable paths of the codebase.
This will likely be an ongoing process as we can

[2022-02-14 22:43] NdibeRaymond opened #291 "Zubhub Open-Source Readiness"
## Description
There is a need to prepare for the eventual open-sourcing of this project. Below are the list of things I can personal think of that should be done go get there. Please feel free to add more items to this list:

## TODOs

- [x] Publish an updated version of the database schema image.
- [x] Publish an updated readme on how to get the project running on your local machine.
- [ ] ~Deli

[2022-02-15 00:05] ghost commented on #284
@NdibeRaymond
I don't understand how the relationship between a Notification and a Creator would be one-to-one. Each Creator can have multiple notifcations in their notification view. For that reason, I was thinking of doing something like `recipient=models.ForeignKey(Creator,...)` in the Notifications model to establish the many-to-one relationship between a Notification and a Creator. Let me kno

[2022-02-15 00:17] NdibeRaymond commented on #284
Yes please, it was my fault. It's actually a one to many relationship (correcting that now).

[2022-02-22 01:43] ghost opened #298 "Notification Dropdown"
## Description

Add the outer portion of the Notifications Dropdown.

Context: This is where users can see a list of their notifications.

## Todo

- [x] Add Bell Icon
- [x] Add dropdown
- [x] Add buttons for All and Unread
- [x] Divide dropdown into New and Earlier
- [x] Adapt for both mobile and web

## Useful links

- Mobile Figma Design: https://www.figma.com/file/rdoLGoH5vfFBfqV11lgOyw/ZubHub

[2022-02-22 01:47] ghost opened #299 "Notification Item"
## Description

Create a component for each Notification in the Notification Center

Context: This is where users can see the information regarding their notification

## Todo

- [x] Create a component that can accept things like message, profile pic, whether it was viewed so that it can be called from a map function
- [x] Redirect based on link when clicked on
- [x] Adapt for mobile

## Useful li

[2022-02-22 14:24] tuxology opened #300 "Hero element not rendering anymore after a previous build and deploy"
**Describe the bug**
The hero element stopped getting rendered after this build: https://github.com/unstructuredstudio/zubhub/actions/runs/1877383365

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://zubhub.unstructured.studio

**Expected Result**
Hero element as seen in previous screenshots/versions

[2022-02-23 14:12] #300 closed, assigned to NdibeRaymond

[2022-02-24 02:41] ghost opened #303 "Hamburger Menu and Sidebar"
## Description

Add the hamburger menu and sidebar for the mobile view.

Context: Currently, on the mobile view there isn't a hamburger menu and the dropdown isn't clean. This will make the UI clearer for the user.

## Learning objectives

- CSS and JSX

## Todo

- [ ] Add Sidebar component
- [ ] Add hamburger icon/button

## Useful links

- https://www.figma.com/file/rdoLGoH5vfFBfqV11lgOyw/ZubHub

[2022-02-24 03:02] ghost opened #304 "Helper Function to Choose Communication Channel"
## Description

Add a helper function that can choose which communication channel should be used for the notification.

Context: Because there are 3 different communication channels (SMS/WhatsApp/Email), we have to choose which one to send on based on the user's preferences. This function will abstract that logic away so that other functions can just call this function and not worry about that pre

[2022-02-24 03:24] abetco opened #305 "Unable to create new project"
**Describe the bug**
When trying to submit a project on my account, I'm unable to do so and there is no error message.

**To Reproduce**
Steps to reproduce the behavior:

1. Click "Create Project"
2. Fill out the project fields
3. Click "Create Project" at the bottom of the form
4. See a brief 0% loading screen, but no other behavior. Clicking "Create Project" again clears the forms fields. Checki

[2022-02-24 03:24] abetco commented on #305
tagging @tuxology

[2022-02-26 04:28] NdibeRaymond commented on #305
Thanks for creating this issue @abetco . However I and I @tuxology haven't been able to reproduce this issue?
if it works now on your machine, can you close the task?

[2022-02-26 04:30] NdibeRaymond commented on #291
Many of the tasks here have been completed, however who should leave it open so we don't function the last task that is still open

[2022-02-26 05:22] NdibeRaymond commented on #298
The figma files are locked. can somebody help? @ajain1921 and @AndrewLester

[2022-02-26 05:28] ghost commented on #298
@NdibeRaymond Try this link:
https://www.figma.com/team_invite/redeem/EwZTegqxTQOoLUqWsUpT8a

[2022-02-26 08:31] AndrewLester commented on #305
Here's a video displaying the behavior:
https://user-images.githubusercontent.com/23221268/155836311-546d026a-e016-4659-8d35-bf43dc86aed2.mov

Getting these errors from the network tab in console:
<img width="1440" alt="Screen Shot 2022-02-26 at 2 40 54 AM" src="https://user-images.githubusercontent.com/23221268/155836587-913ca30d-68d0-4c2c-a888-99c6377453e3.png">

[2022-02-26 12:50] NdibeRaymond commented on #305
Maybe the best way to resolve this is through a video meeting. I'd love to see your url bar to know exactly what's going on. Can you view your profile currently?

[2022-02-26 22:59] AndrewLester commented on #305
My profile image is not visible for some reason, I can see everyone else's though.

[2022-02-26 23:48] AndrewLester commented on #305
This can be closed now, it turns out Albert and I were having the same issue: Our university's network blocks the digital ocean URLs.

[2022-02-26 23:48] #305 closed, assigned to nobody

[2022-02-27 00:36] ghost opened #309 "Can view a user's private information"
**Describe the bug**
You can view a user's private information like their phone number and DOB through the network tab of the Inspect Console.

**To Reproduce**
Steps to reproduce the behavior:

1. Open up the Inspect Console and go to the Network tab
2. Go to any user's profile
3. Click on the request with the user's username
4. Under the Preview tab you can see various pieces of information asso

[2022-03-01 14:36] #309 closed, assigned to nobody

[2022-03-02 17:02] tuxology commented on #291
Maybe we create another task for Deployments separately since it will have multiple sub-tasks and then keep it open @NdibeRaymond ? I'll create a separate task and get back here

[2022-03-03 04:31] ghost opened #317 "Draft Autosave"
## Description

Trigger a function to autosave a draft when a user stops typing/makes a change.

## Learning objectives

- Objective

## Todo

These points are a rough guideline. **Please** feel free to discuss with others on the team about the best way to design this component!

- Todo

## Useful links

- Useful link

[2022-03-07 23:08] ghost opened #321 "Add create notification function"
## Description

Add function to create a notification in the Notifications model.

Context: This function will be called inside Zora's function (#306) to add to the model.

## Learning objectives

- Django REST Framework

## Todo

- [ ] Add create notification helper function

[2022-03-08 00:18] ghost opened #322 "Add autosaving functionality"
## Description

Add autosaving functionality to the Create Project form.

Context: Due to internet concerns, we want to autosave the user's form responses for the Create Project form.

## Learning objectives

- Formik
- Debouncing

## Todo

- [ ] Determine when to trigger a save
- [ ] Display a message in top right with current date and time (look at designs) upon saving
- [ ] Determine how videos

[2022-03-08 03:19] ghost opened #323 "Integrate helper functions with notification triggers"
## Description

Use Zora's helper function (#306) and Andrew's function (#316) in the notification triggers (ex. adding a comment, following someone) to send a notification and add to the Notifications model.

## Learning objectives

- Django REST framework
- Templates

## Todo

- [ ] Edit `send_notification`:
  - [ ] Remove template_name, replace with notification type. Get template names from no

[2022-03-12 12:45] lalit97 opened #328 "docker related steps in local setup guide"
we might want to add docker related steps in the local setup guide also like
1. install `docker`
2. install `docker-compose`
and can provide some related links from docker documentation in the local setup guide
https://github.com/unstructuredstudio/zubhub/#backend

[2022-03-17 20:23] abetco opened #331 "Search query doesn't persist in search bar"
**Describe the bug**
When searching and pressing enter, the search is submitted but the original search text disappears from the search bar.

[2022-03-22 00:03] ghost opened #332 "Notification Pagination"
## Description

Add pagination to the notification center so that when a user scrolls past the viewable area the db sends the next set of notifications.

## Learning objectives

- Pagination
- Django REST Framework

## Todo

- [ ] Add scroll event listener to trigger db query
- [ ] Adjust endpoint to support pagination

## Useful links

- https://rajrajhans.com/2021/04/pagination-and-infinite-scro

[2022-03-22 00:14] ghost opened #333 "Notification Grouping"
## Description

Based on Cindy's designs we want to group notifications that are triggered by the same event and happen in a certain time interval.

## Learning objectives

- Frontend Design
- Django REST Framework

## Todo

- [ ] Update get endpoint to group notifications based on their type/date added
- [ ] Update frontend to support showing grouped notifications (2 profile pics)

## Useful link

[2022-03-22 00:19] ghost opened #334 "Drafts Tab and Page"
## Description

On the profile page, add a drafts and projects tab so that users can view both. They should operate in the same way except one should redirect to projects and the other to drafts.

## Learning objectives
- React
- Material UI

## Todo

- [ ] Add tabbed component
- [ ] Create Drafts page
- [ ] Add support for both mobile and web

## Useful links

- https://www.figma.com/file/jRQdwIw

[2022-03-22 00:23] ghost opened #335 "Add edit button to draft tile"
## Description

In order to make it easier for users to edit their drafts, we're going to add an edit button on the draft tile itself. This way they can go to the edit form without having to open up the draft first.

## Learning objectives

- React
- Material UI

## Todo

- [ ] Add edit button

## Useful links

- https://www.figma.com/file/jRQdwIwXdgmXEe5L0XLgno/ZubHub?node-id=0%3A1

[2022-03-24 02:34] ghost opened #340 "Validate, increase size of uploaded media and compress for project and activity creation"
Build a compression for media.

Related: Uploading an image that is of size > 2MB currently results in a validation error without showing it on the screen. This doesn't allow users to continue with project creation.

[2022-03-25 18:03] alicendeh commented on #211
Hi, I am Alice Ndeh an Outreachy Applicant interested in contributing to the development of Zubhubs mobile application. Can i please work on this issue?

[2022-03-26 04:52] yaya-usman commented on #335
@ajain1921 can i be assigned this? i am an outreachy applicant

[2022-03-26 04:56] yaya-usman commented on #328
@lalit97 i am interested in this issue but i will like to be clear, you mean you want the application containerized and also want a documentation on how to run it right?

[2022-03-26 04:57] yaya-usman commented on #299
@ajain1921 can i be assigned this as well?

[2022-03-26 05:06] yaya-usman commented on #226
@srish  can i be assigned this? i am an outreachy applicant

[2022-03-26 05:07] yaya-usman commented on #333
@ajain1921  The figma file link not working

[2022-03-26 08:21] godsakani commented on #208
Hi, I am Ngodwill an Outreachy Applicant interested in contributing to the development of Zubhubs mobile application. Can i please work on this issue?

[2022-03-26 10:14] lalit97 commented on #328
Hi @yaya-usman the application is already containerized. I was suggesting having steps in the local setup guide for installing docker.

[2022-03-26 15:45] ghost commented on #335
@ajain1921 please I will like to work on this.  I am an outreachy applicant.

[2022-03-26 15:59] ghost commented on #277
@tuxology can you please assign me this task? I am an outreachy applicant.

[2022-03-26 18:46] yaya-usman commented on #328
@lalit97  ok thanks for the clarification, let me work on that now, i'll make a pull request soon.

[2022-03-26 20:39] yaya-usman commented on #317
@ajain1921 can i get assigned this issue?

[2022-03-27 00:33] ghost commented on #335
@yaya-usman @NdzeRegina We have someone assigned to the issue and a PR open for it already. We will soon be adding more issues so stay tuned for that!

[2022-03-27 01:14] ghost commented on #317
@yaya-usman There's currently a draft PR open for this issue. I apologize for the confusion and I've fixed the labels on it.

[2022-03-27 01:16] #317 closed, assigned to zorazrr

[2022-03-27 05:45] ghost commented on #335
Ok, thank you @ajain1921 , patiently waiting.

[2022-03-27 18:06] tuxology commented on #291
I'm closing this and creating another task later for deployment separation

[2022-03-27 18:06] #291 closed, assigned to tuxology, NdibeRaymond

[2022-03-27 18:11] tuxology commented on #277
@NdzeRegina This task is done and soon to be merged via a sub-task in PR #318. I'm marking a few more good first use issues so that you can go through them possibly!

[2022-03-27 18:54] tuxology opened #343 "Allow basic theme changes to be done from Django Admin"
ZubHub currently uses 3 primary colors. There is also a pre-defined font family (Raleway). We want to allow the Zubhub users to change these values from the backend using the admin interface. There are few tasks we need to do to achieve this:

- [ ] Extract colors, fonts and Font sizes being used and convert them to CSS variables. These values are in CSS files as well as embedded in JS.
- [ ] Allo

[2022-03-27 19:03] tuxology opened #344 "Use same border radius for Next and Prev buttons"
In paginated view when Prev and Next buttons are present together, their right and left border radius are zero. We need to keep consistent button styling as all other buttons. Restore the border radius for a more consistent UI experience.

![image](https://user-images.githubusercontent.com/3373857/160296554-eeb48a8a-d454-404b-9132-c55aaaae797f.png)

[2022-03-27 19:11] tuxology opened #345 "Make "Tinkering Resources" footer link editable from admin backend"
The "Tinkering Resources" resources footer is a static link in the code to `http://kriti.unstructured.studio/` We need to make this link editable from the Django admin interface. Here is the location where you can add make this editable. Here a re few tasks that need to be done to achieve this:

- [ ] Create a Footer section in the following are in Django Admin

![image](https://user-images.github

[2022-03-27 19:14] Deepanshu039 commented on #344
@tuxology i would like to work on this.

[2022-03-27 19:17] tuxology opened #346 "Extra stray html <p> tags in some descriptions"
**Describe the bug**
There is an extra `<p>` and `</p>` tag in some of the project descriptions

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Zubhub homepage (https://zubhub.unstructured.studio)
2. Observe the descriptions of some projects

**Expected behavior**
There should be no `<p>` tag

**Screenshots**
![image](https://user-images.githubusercontent.com/3373857/160297032-e45a7bc

[2022-03-27 19:29] ktric001 commented on #346
It looks like the tags are written into the descriptions themselves, causing them to appear on the site.
![image](https://user-images.githubusercontent.com/87986240/160297531-8dd32344-d4ca-4d5d-a4d8-ac27154694af.png)

[2022-03-27 19:36] ktric001 commented on #346
Removing the extra tags fixes this issue.
![image](https://user-images.githubusercontent.com/87986240/160297758-d0045fc0-36e9-4714-ba11-86ced4aecaa5.png)

[2022-03-27 21:40] yaya-usman commented on #346
@tuxology  can i get assigned this issue? and i'll appreciate if you can review my #342 pull request, i have made that since yesterday

[2022-03-28 00:02] tuxology opened #347 "Generate improved and conscise ZubHub documentation"
Current developer  documentation for ZubHub resides in multiple places

- https://github.com/unstructuredstudio/zubhub/tree/master/zubhub_backend/zubhub/docs as well as
- https://github.com/unstructuredstudio/zubhub#development
- https://github.com/unstructuredstudio/zubhub/tree/master/single_vm_deployment

We currently need a way to bring all the documentation in one place which is concise and ea

[2022-03-28 00:53] Somya-Singhal commented on #346
Hi @tuxology, I am an outreachy applicant. I would like to work on this issue. Can I be assigned this issue?

[2022-03-28 01:41] godsakani commented on #173
i will like to work on this issue

[2022-03-28 05:21] sunnyside88 commented on #177
Hi there, can I work on this issue?

[2022-03-28 11:58] Deepanshu039 commented on #344
@tuxology i am still working on the issue.

[2022-03-28 19:04] qxprakash commented on #347
Hi @tuxology I would like to work on this issue as an Outreachy 22 applicant please assign me this issue. Thankyou!!

[2022-03-28 19:17] ubaxeeycabdullaahi commented on #176
I will do

[2022-03-28 19:46] Kavita-Dhamot commented on #346
HI @tuxology . can you assign this issue to me?

[2022-03-28 19:48] qxprakash commented on #346
Hi @tuxology can I work this issue as an outreachy 22 applicant ? Thanks !!

[2022-03-28 23:52] SIXIN-LI opened #350 "Error page shown when no project is created"
**Describe the bug**
After setting up the backend and frontend, http://localhost:3000/ gives an error page like the below screenshot.
![image](https://user-images.githubusercontent.com/45926850/160505701-e147791b-5f7b-4624-aed0-1b59a6eed5f2.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Follow readme.md of the project
2. Enter http://localhost:3000/ in your browser

**Expected behavio

[2022-03-29 04:49] untari commented on #343
Hi @tuxology  I'm trying to set up the repo in my local machine and I would like to work on these issues. Do I have to be assigned first to be able to work on this issues?

[2022-03-29 10:21] NdibeRaymond commented on #346
Hello @tuxology this particular issue is a result of the richtext editing feature that is currently live on encube. I am assigning this to myself because it's a fix already in the private_mode PR and is not as simple as removing the p tag.

[2022-03-29 13:08] untari commented on #170
Hi @srish I'm outreachy participant this year, and would like to contribute on this issues. Do I have to wait to be assigned to work in the issues ?

[2022-03-29 16:24] tuxology commented on #350
Thanks @SIXIN-LI for this very obvious and valid issue :pray: Maybe a welcome page instructing users to create a new account and set it as admin from the backend will be a good idea. Can you sketch how it will look? To keep consistent design, we should make it similar to the _Oops_ page :)

[2022-03-29 16:25] tuxology commented on #346
Makes sense @NdibeRaymond :+1:

[2022-03-29 19:29] Vaishnavi-Markunde commented on #347
Hi, I would like to build tutorial documentation for installation and setting up the environment on Linux OS for extreme beginners. Please assign it to me. Thank you!

[2022-03-29 19:34] Vaishnavi-Markunde opened #353 "Detailed Documentation"
## Description
Hi @tuxology , I would like to build tutorial documentation with step by step procedure for installation and setting up the environment on Linux OS for extreme beginners. I'll keep a note of issues faced by me and other members in the group.

##  Objectives
- To help beginners to set up their developer environment

Thank You!

[2022-03-29 20:32] tuxology commented on #353
This is a valid issue, however, this could be a subset of #347 and an upcoming PR #342 so I am closing this one. However, I would suggest working on #347 as part of this.

[2022-03-29 20:32] #353 closed, assigned to nobody

[2022-03-29 20:37] tuxology commented on #347
@Prakashh21 and @Vaishnavi-Markunde I am assigning it to you both as you requested this :smile_cat: This is a good opportunity to team up and work as well. I would suggest working on first two tasks in the beginning and see how it works out for you. We can begin by creating a `docs` directory in the top level of `zubhub` project and start adding stuff there. Please add a README.md in `docs` as wel

[2022-03-29 20:44] tuxology commented on #350
@SIXIN-LI Should I assign this issue to you? Let me know!

[2022-03-29 20:46] Morai-C commented on #344
please if this is still open i would like to work on it

[2022-03-29 21:28] SIXIN-LI commented on #350
I am new to React. If this is not urgent, I can take it!

[2022-03-30 03:36] Vaishnavi-Markunde commented on #347
Thank you sir, we'll work on it

[2022-03-30 04:05] qxprakash commented on #347
@tuxology Sure !! we will work on it.

[2022-03-30 14:59] Deepanshu039 commented on #344
@Morai-C this issue is under process and i am about to make a PR as well in sometime so i suggest you to do look for some other issues. thank you

[2022-03-30 15:04] tuxology commented on #343
You can begin working on this @untari I'll assign it to you.

[2022-03-30 15:10] NdibeRaymond opened #357 "'Failed to load api specification' error when visiting https://localhost:8000"
**Describe the bug**
when you build zubhub on your localmachine and try visiting https://localhost:8000 on your browser, you get an internal server error with message "failed to load api specification". This error is coming from the `UserProfileAPIView` class `get_serializer_class` method. This happens because we decided not to pass requests object into `SchemaGenerator`  class `get_schema` method

[2022-03-30 18:11] Somya-Singhal commented on #357
I would like to work on this issue. Can I take this issue?

[2022-03-30 18:46] Morai-C commented on #344
okay thank you

[2022-03-30 22:36] souad988 commented on #226
hello @srish  i'm an outreachy applicant if this issue wasn't assigned to anyone i would like to work on it as a first contribution

[2022-03-30 22:43] souad988 commented on #208
hello @srish   @tuxology   @godsakani
i'm souad an outreachy applicant if no body is working on this issue i would like to take it

[2022-03-30 23:20] ghost opened #359 "Improve search functionality"
## Description

Improve search functionality by adding a filter to choose what to search over: projects, tags, or creators.

Context: Currently, the search bar searches through projects and creators automatically and displays the results with a creators and projects tab. To make it clearer for the user, we're adding the ability to choose what to search over.

## Learning objectives

- React
- Djan

[2022-03-31 00:40] ghost opened #360 "Search Bar Suggestions"
## Description

As you're typing in the search bar, you should get a list of possible options to choose from.

NOTE: This isn't a required feature but it would be nice to implement. One concern that Albert brought up is that this might eat up someone's internet quota as requests are constantly being made to the backend to search. We need to find a way to quantify how internet intensive it is and d

[2022-03-31 00:57] #331 closed, assigned to abetco

[2022-03-31 04:04] untari commented on #343
Hi @tuxology thanks! Will start working on it

[2022-03-31 13:54] Somya-Singhal commented on #357
Hello @tuxology, I had linked a pull request. Can you please review it and do let me know if it works fine?

[2022-03-31 19:51] Morai-C opened #364 "Horizontal overflow and horizontal Scroll on smaller devices when logged in."
Describe the bug
The page does not fit to screen on smaller devices when logged in.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to zuhub homepage
2. login
3. use the developer tools or inspect on browser. (Ctrl + shift + I)

**Expected behavior**
page is supposed to  fit to device width without any overflow

**Screenshots**
![Screenshot (107)](https://user-images.githubusercontent.co

[2022-03-31 19:52] Jumeb commented on #177
@tuxology, I would love to work on this issue. Please can you assign it to me

[2022-03-31 19:53] Jumeb commented on #173
I would love to work on this issue

[2022-03-31 19:58] Morai-C opened #365 "Creator text on project cards disappearing into card on smaller screen devices"
**Describe the bug**
The creator text goes into the card on smaller devices

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'http://localhost:3000/profile'
2. Use developer tools to adjust screen width
3. Scroll down to created projects'
4. notice the text entering inside the card

**Expected behavior**
the text should wrap to a new line when the width is exhausted

**Screenshots**
![

[2022-03-31 21:39] Jumeb commented on #177
Screenshots

![Screenshot from 2022-03-31 22-33-25](https://user-images.githubusercontent.com/38510556/161153332-a07953b3-ec49-4ae5-9787-63907343d027.png)
dark theme applied

![Screenshot from 2022-03-31 22-33-15](https://user-images.githubusercontent.com/38510556/161153475-6339b546-4b69-4550-90b0-0f1a34191942.png)
Centralized search bar

![Screenshot from 2022-03-31 22-35-00](https://user-images.

[2022-03-31 21:43] tuxology commented on #177
If the PR is ready, you can send it @Jumeb Can you adjust he color in 3rd screenshot to be not so dark? Maybe the selected one could be made lighter or light yellow (and icon changed to red?) Play around with it and send the PR

[2022-03-31 21:48] tuxology commented on #173
@godsakani I just assigned this to you. Let me know if you are attempting it :+1:

[2022-03-31 21:49] tuxology commented on #365
Awesome @Morai-C Thanks for reporting this! :+1: Do you want to make an attempt to fix this bug? If yes, let me know and I can assign this to you.

[2022-03-31 21:51] Jumeb commented on #177
Ok on it

[2022-03-31 21:52] souad988 commented on #208
hello @godsakani  can you please let me know if you are not working on this issue

[2022-03-31 21:54] tuxology commented on #208
@souad988 I've assigned this to you for now :+1:

[2022-03-31 21:55] Jumeb commented on #177
- The Icon changes to red, is the original settings from the code, but to give it more contrast I changed it to white.
- On hover, the search bar become a little bit darker to indicate to the user that an action can occur here on click, so i further reduce the opacity to make it calmer.

[2022-03-31 21:56] souad988 commented on #208
thanks @tuxology

[2022-03-31 22:02] tuxology commented on #364
@Morai-C I can reproduce it on the desktop using inspector, but was unable to reproduce this on an actual tiny phone I have. I use a very small phone (possibly the smallest right now) and this does not seem to be a problem there. If you can reproduce this on a real device, let me know. We'll keep this open until then

[2022-03-31 22:02] Morai-C commented on #365
yes i would like to fix this

[2022-03-31 22:13] godsakani commented on #173
@tuxology am ok with it

[2022-03-31 23:08] Jumeb commented on #177
@tuxology  I just  made a pull request, please review the changes.

[2022-03-31 23:43] ntungwe-90 commented on #365
@tuxology  please can i be assigned to fix this ?

[2022-04-01 00:12] ntungwe-90 commented on #223
@NdibeRaymond  how about using the youtube API to perform the validations?

[2022-04-01 00:58] Morai-C commented on #365
already on it

[2022-04-01 01:59] Jumeb commented on #173
Fixed the uneven padding on video's bottom bar

![Screenshot from 2022-04-01 02-54-45](https://user-images.githubusercontent.com/38510556/161179407-7c032461-ea38-43bc-9181-c67d2d9ebdd0.png)
Horizontal view

![Screenshot from 2022-04-01 02-55-00](https://user-images.githubusercontent.com/38510556/161179441-2affbd79-5538-4fbe-8ea9-e76b6fac694b.png)
Vertical view

Problems found

- The SVG icons from

[2022-04-01 10:57] godsakani commented on #173
Hello @tuxology this is what i came up with
![Mobile1](https://user-images.githubusercontent.com/70459251/161250517-2360dbdd-807b-4e2a-a65d-c5c985281212.png)
h

[2022-04-01 13:00] godsakani commented on #208
can i work on it too @tuxology  to ?

[2022-04-01 14:18] Somya-Singhal commented on #357
Hello @tuxology, I had made the changes requested and linked the PR. Can you please review it and let me know if any changes are required?

[2022-04-01 17:26] Jumeb commented on #173
Great work @godsakani
I have a slight question when the break point is reached for a devices like a tablet and the video button container is very long will the three icons remain at the left position or will they be strected out ?

[2022-04-01 17:33] godsakani commented on #173
Thank you sir.
They will be stretched out . I tested responsiveness for other devices.
 @Jumeb

[2022-04-02 18:33] Jumeb commented on #170
@tuxology can I have a try at this issue?

[2022-04-02 19:41] Jumeb commented on #207
@NdibeRaymond this issue has been solved by means or redirecting to the login page, can it be removed from issues or indicated as done

[2022-04-02 20:06] Jumeb commented on #170
Tried working on this issue but I could not replicate the problem @srish can you check again to see if this problem still occurs.

[2022-04-02 20:06] Jumeb commented on #350
@tuxology can I work on this issue.

[2022-04-03 06:15] imranburki commented on #347
Hi, I am outreachy  2022 applicant. can i work on this issue?

[2022-04-03 06:21] imranburki commented on #211
Hi, i am Outreachy 2022 applicant. can i work on this issue too?

[2022-04-03 06:51] alicendeh commented on #211
Hey @imranburki am already working on this issue. Please get another one which hasn't been assigned to someone yet

[2022-04-03 11:34] qxprakash opened #372 "Text getting wraped in the login page."
**Text is wrapping** in the login page , on mobile devices

**To Reproduce :**
**This bug is visible on mobile devices**
Go to the **login page** , if you are already logged in then logout and click on the login button in the top right corner of the page,

**Below** the **LOGIN** button the text **"Not a member yet ? "** is **wrapping** and also that is the reason **padding** is not **consistent**

[2022-04-03 14:40] #357 closed, assigned to Somya-Singhal

[2022-04-03 15:10] alicendeh commented on #201
Hi @srish please can i work on this?

[2022-04-03 18:31] arushi2715 commented on #350
Hey @tuxology I want to work on this issue.

[2022-04-04 01:00] NdibeRaymond commented on #208
@godsakani I'm sorry you weren't assigned this but we had no idea if you were working on it already or not. Perhaps you can comment on some of the not already claimed issues and tag tuxology or me to assign them to you? you can also go through the codebase and create issues based off of any issue you find.

[2022-04-04 01:53] #372 closed, assigned to qxprakash

[2022-04-04 11:49] alicendeh commented on #168
Can i work on this please @srish

[2022-04-04 11:53] qxprakash opened #376 "characters overflowing in the "phone" text field of the signup page"
**Describe the bug**
In the **signup** page while **entering** the **phone number** , **entering large enough number leads to number flowing out of input field**

This bug can be seen in **Desktop version as well as the mobile version of the page..**

**To Reproduce**

Go to the **signup page,** if you're already logged in then logout , and go to the signup page

**In the signup page click on phon

[2022-04-04 11:55] qxprakash commented on #376
hey @NdibeRaymond I'm on it.

[2022-04-04 12:35] Vaishnavi-Markunde commented on #364
Even I tried it with my real device and it works fine on my phone.
![image](https://user-images.githubusercontent.com/79241223/161544712-7cc33818-a17a-459c-9061-7360de1b3139.png)

And this in inspection mode :
<img width="959" alt="image" src="https://user-images.githubusercontent.com/79241223/161549527-ca8e0441-0009-4852-a10a-7eb5f25ada7e.png">

[2022-04-04 15:40] Vaishnavi-Markunde opened #377 "Share to multiple social media applications"
Hi, @tuxology  , @NdibeRaymond
The share button only copies the profile URL to the clipboard right now. I want to implement a share option that will enable the user to share their profile across multiple social media applications.

[2022-04-04 15:51] godsakani commented on #360
hello @ajain1921  the figma file is not opening

[2022-04-04 22:20] srish commented on #168
I am recalling based on our team discussion that this issue is no more relevant. I am closing it for now.

[2022-04-04 22:20] #168 closed, assigned to nobody

[2022-04-04 22:39] srish commented on #201
Okay, assigned! Allowing to choose multiple categories is definitely needed, but when adding more category options is concerned, I don't have good ideas about what we can include. But, yes, the former needs work.

[2022-04-04 22:44] srish commented on #170
Yes, I checked this issue no longer exists. I'm closing this one.

[2022-04-04 22:44] #170 closed, assigned to nobody

[2022-04-04 23:01] srish commented on #207
I think in general the page could have an improved UX. Maybe something like? "Sign up" and "login" can then be directed to https://zubhub.unstructured.studio/signup and https://zubhub.unstructured.studio/login pages. More suggestions are welcome!

![Screen Shot 2022-04-04 at 4 00 36 PM](https://user-images.githubusercontent.com/288353/161646313-35a36a68-11f7-43a6-bb16-98b51090ec85.png)

[2022-04-05 16:12] alicendeh commented on #201
Hello, @srish I understand the aspect of picking multiple categories. But please can you explain to me the add more category options?

[2022-04-06 05:51] srish commented on #201
@alicendeh You can ignore that part for now as it requires someone from our team to propose the new categories to add to the list :) But, allowing to pick multiple categories is still valid.

[2022-04-06 05:55] alicendeh commented on #201
Please I'd like to ask @srish  since multiple categories will have to be uploaded to the server, does the current server side code allows an array of categories to be sent?

[2022-04-06 17:14] AndrewLester commented on #364
This is certainly a problem on small devices, you'll just need to observe the cause of the issue. In @Morai-C 's first picture it is clear that the username extends past the edge of its parent element, and this is confirmed in a screenshot from a real phone (Samsung Galaxy S10e) shown below:
<img height="600" src="https://user-images.githubusercontent.com/23221268/162030740-ea482e75-e442-4be9-af8c

[2022-04-06 18:47] Jumeb commented on #207
I think we could do like some sort of pop-up instead telling the user, he or she can only share a project if they are logged in or if the create an account. This could improve ux. Instead of just forcing the user to create an account we simply just give them a nudge.
Some users may only be interested in viewing the projects.

[2022-04-06 20:34] ghost opened #381 "Notification Bugs"
## Description

There's a few minor bugs left in the notification implementation to work out.

## Learning objectives
- Django REST Framework
- React

## Todo

- [x] If someone performs an action, undoes it, and redoes it, the backend interprets it as grouped notifications.
- [x] After clicking a notification the panel should disappear.
- [ ] If you open the mobile notification panel on a project

[2022-04-07 02:33] #360 closed, assigned to nobody

[2022-04-07 02:44] ghost opened #384 "Social Sharing on Web"
## Description

Add social sharing buttons to the project page.

## Learning objectives

- React
- Sharing APIs

## Todo

- [x] Add social sharing buttons
- [x] Experiment with sharing APIs to see if you can autofill the sharing platform with text

## Useful links

- https://www.figma.com/file/jRQdwIwXdgmXEe5L0XLgno/ZubHub?node-id=0%3A1

[2022-04-07 05:44] srish commented on #201
@alicendeh I am not sure of the technical implementation. Maybe @NdibeRaymond and @tuxology have an insight here.

[2022-04-07 05:55] alicendeh commented on #201
@NdibeRaymond  and @tuxology. Please your response is needed here

[2022-04-07 07:42] pro-coder-devshekhar commented on #381
@ajain1921 Can you please assign me this issue?

[2022-04-07 11:57] #376 closed, assigned to qxprakash

[2022-04-07 12:29] NdibeRaymond commented on #377
@tuxology is this worth pursuing? for me I think the current profile sharing functionality is enough, but I might be wrong.

[2022-04-07 13:33] khabdrick opened #386 "Improve readme"
## Description
Add instructions to set up frontend with `npm` to improve the development experience.

[2022-04-07 13:33] khabdrick commented on #386
I'll like this issue to be assigned to me

[2022-04-07 15:17] souad988 commented on #207
Hello @srish @tuxology @NdibeRaymond  I want to work on this issue as suggested would you assign it to me

[2022-04-07 15:31] tuxology commented on #207
I think I agree with @Jumeb The login page already has a CTA for signup in case you are not a "member". So, this page can work and we don't need another page. We might want to improve the UX on login page itself. Maybe make "Welcome to Zubhub" a bit bold.

@souad988 I am assigning this to you :+1:

[2022-04-07 15:37] tuxology commented on #377
@Vaishnavi-Markunde and @NdibeRaymond Thanks for this nice suggestion! However, this is being taken care of by #384 They've already worked on UX and other features related to sharing. Closing this one!

[2022-04-07 15:37] #377 closed, assigned to nobody

[2022-04-07 15:46] tuxology commented on #364
@AndrewLester Thanks for testing this. Since our intended users may use the exact phone you have, we should indeed find the root cause for this now and get a fix.Also, can you let me know which browser did you use? I can't reproduce it on safari and Firefox on all screen sizes. If this is on Chrome, this is more urgent then as almost everyone we've talked to use Zubhub on chrome on android on smal

[2022-04-07 15:48] tuxology commented on #350
@SIXIN-LI Are you still working on this? If not, I can reassign this. Let me know by EOD

[2022-04-07 15:50] AndrewLester commented on #364
@tuxology yeah this is on Chrome.

[2022-04-07 15:52] tuxology commented on #347
@Vaishnavi-Markunde and @Prakashh21 How are things going with this one? Remember to send smaller and manageable PRs. Are you still working together on this one still?

[2022-04-07 15:53] tuxology commented on #346
This seems fixed closing this one :+1:

[2022-04-07 15:53] #346 closed, assigned to NdibeRaymond

[2022-04-07 16:57] Vaishnavi-Markunde commented on #347
Yes we are working on this, will update soon.

[2022-04-07 17:32] Jumeb commented on #350
I would love to help @SIXIN-LI to get his feet on this issue

[2022-04-07 19:43] Morai-C commented on #364
@tuxology i fixed the overflow caused by the cards in which the email addresses also extended but in that case i'll go through my code to see if it addresses the issue of longer email addresses.. i'm on it. @AndrewLester  thanks for also spoting this, my email address wasn't long so in my tests it didn't cause an issue.. i used an iphone display 5 resolution and it looked great..

[2022-04-07 20:11] tuxology commented on #350
Hey @Jumeb I've assigned you on this one :+1:

[2022-04-07 20:41] khabdrick commented on #345
Hello @tuxology I'll like to be assigned to this issue

[2022-04-07 20:50] tuxology commented on #345
What happened to #356 @khabdrick? Are you planning a fresh start for this?

[2022-04-07 21:00] khabdrick commented on #345
Yes, I am starting afresh. But I am a bit confused, I was told that tinkering resources url points to Explore Ideas button in the heroes section. If so, is there any need to have tinkering resources URL separately?
Can I just fetch the data directly from explore_ideas_url?
@tuxology

[2022-04-07 21:49] #386 closed, assigned to khabdrick

[2022-04-07 21:55] #344 closed, assigned to Deepanshu039

[2022-04-07 22:16] NdibeRaymond commented on #345
I thought about this further and this is my opinion:

I think what needs to be done is to add a `tinkering_resources_url` to the model (next to `explore_ideas_url`), then add it to the same serializer and view that handles `explore_ideas_url` on the backend.

On the frontend, `tinkering resources` in the footer should point to the new field and if the new field is empty, it should point to `kriti.

[2022-04-08 00:40] Morai-C commented on #364
@tuxology please i've added a commit addressing the latest finding please review and in case more bugs are noticed you can call my attention to it i  worked on the minor ones i could find when debugging and also addressed that of @AndrewLester

[2022-04-08 17:00] tuxology commented on #345
@NdibeRaymond Yes, your explanation in https://github.com/unstructuredstudio/zubhub/issues/345#issuecomment-1092262172 is precisely what we want!

[2022-04-10 17:42] khabdrick opened #394 "Add unit tests for Authentication"
## Description
Writing unit tests for views for authentication of creators. The views that will be worked on are `AuthUserAPIView`, `AccountStatusAPIView`, `UserProfileAPIView`, `RegisterCreatorAPIView`.

## Learning objectives

- These unit tests will help reduce regression as we make further contributions

subset of #290

[2022-04-10 17:44] khabdrick commented on #394
I'd like to work on this. What do you guys think, can I go ahead?
@tuxology @NdibeRaymond

[2022-04-11 01:10] kavyabhat02 commented on #198
Hi @srish , could I please work on this?

[2022-04-11 01:33] #208 closed, assigned to souad988

[2022-04-11 12:48] Jumeb commented on #350
Hello, @tuxology this is what I came up with for the fix. Any ideas or modifications are much welcomed. Before I make a pull request.

Screenshot
![Screenshot from 2022-04-11 13-48-26](https://user-images.githubusercontent.com/38510556/162742529-817f3f03-4d8d-4022-a18e-2be4fd5e2b0a.png)

[2022-04-11 20:45] srish commented on #198
Please take a look at other platforms like scratch https://scratch.mit.edu/accounts/email_change/ to gain some ideas on how they allow changing email etc. You will have to create an account on the website to use the email change feature.

[2022-04-12 00:44] kavyabhat02 commented on #198
Alright, I'll refer to other platforms too. Thanks for the resources to help me get started!

[2022-04-12 05:54] alicendeh commented on #209
Can I please work on this issue @tuxology ?

[2022-04-12 15:33] khabdrick commented on #394
Any updates on this please?

[2022-04-12 16:07] tuxology commented on #394
Yes, @khabdrick These are stable and good targets for API tests :+1:

[2022-04-13 02:39] #345 closed, assigned to khabdrick

[2022-04-14 00:59] ghost opened #398 "Mobile Sharing"
## Description

Add share button to mobile view to trigger native sharing menu.

## Learning objectives

- React
- Webshare API

## Todo

- [ ] Add share button
- [ ] Connect share button to native menu
- [ ] Autofill when applicable

## Useful links
- https://www.figma.com/file/jRQdwIwXdgmXEe5L0XLgno/ZubHub

[2022-04-14 20:12] khabdrick opened #401 "`AccountStatusAPIView` status code inconsistency"
**Describe the bug**
The status code when the user is authenticated is the same as when the user is unauthenticated. I am thinking unauthenticated users should return 404 instead?
**Screenshots**
![2022-04-14_21-04](https://user-images.githubusercontent.com/57852546/163467481-48d0ae91-1a05-4d73-be27-bc371c183336.png)

[2022-04-15 08:47] Deepanshu039 opened #402 "Multiple line comments on any project is getting outside the comment box"
**Describe the bug**
When a user open a project and try to make a comment in more than one line the, the submitted comment will get displayed outside the comment box.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Homepage'
2. Click on 'any project'
3. Scroll down to 'comment box'
4. Type any text in the comment box which comes in more than one line.
5. See error

**Expected behavio

[2022-04-15 08:51] Deepanshu039 commented on #402
@NdibeRaymond @tuxology I would like to work on this issue.

[2022-04-15 15:50] auasante commented on #172
I am an Outreachy applicant and I would Like to work on this please.

[2022-04-15 16:08] tuxology commented on #172
@auasante This issue is a bit complex and requires a lot of UX rework as discussed in a very similar PR submitted here: https://github.com/unstructuredstudio/zubhub/pull/395#issuecomment-1095163243 If you have suggestions how we can improve Categories and Tags apart from what is discus so far, maybe start a new discussion using Github Discussions first?

[2022-04-15 18:48] AndrewLester commented on #381
For the todos:
1. Are we considering removing notifications from actions that are undone as the solution for this?
2. No questions
3. No questions
4. Isn't the person who was followed just yourself?
5. No questions

[2022-04-15 19:14] untari commented on #343
Hi @tuxology I figured the current workflow for now:
1. User gets the value in the admin page
2. The backend receives the value and saves it to a variable, should this be saved to the db?
3. When the frontend requests the page, it gets the value from the already set variable and uses it in the style of the page.

Can you please confirm this is the correct workflow, or if you suggest something diff

[2022-04-15 21:08] #211 closed, assigned to alicendeh

[2022-04-16 01:30] kavyabhat02 commented on #198
The email field is disabled in the current version. I was thinking of enabling the same field, and then asking for their password to confirm changes.
@srish mentioned that there could be privacy concerns around password requests, are there any other options or is this method okay? @tuxology

[2022-04-16 09:22] KhushiSahoo opened #405 "Location field issue in Sign up page"
**Describe the bug**
Location field issue in the sign up page. The location field have NONE as select option but the field is required to proceed further in the application. So it in turns is creating an issue in  signing to the application.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Sign-up page
2. Click on Location Field
3.  See error

**Screenshots**
![2022-04-16 (3)](https://

[2022-04-16 13:16] #405 closed, assigned to nobody

[2022-04-16 15:26] tuxology commented on #343
@untari Yes this is almost correct workflow. By extracting colors and styles, what I meant was carefully refactor the code and make these values configuration driven rather than being hardcoded in the code. Here is what I had in mind:

1. By default, there are color values that are same as the standard ZubHub color palette you see now. We stick to only 3 primary colors and their variations + 2 or

[2022-04-16 15:50] kamthamc commented on #343
~If the user can set color individually we could save them in a database, may be a json blob should be good as we could add or remove properties easily?~

Updated: Sorry was thinking its per user. We could create a theme file with css variables. And we can have empty overrides file. If the Admin overrides any of the theme property, it could go into overrides file. In UI we load both theme and then

[2022-04-16 16:12] #328 closed, assigned to nobody

[2022-04-16 17:45] untari commented on #343
@tuxology  @kamthamc Thanks a lot for all the help! I'll give it a look and get some working prototype soon.

[2022-04-17 00:24] NdibeRaymond commented on #198
I feel like we can achieve the same purpose by just asking for their username. And it's much more safer than doing passing around the passwords.

[2022-04-17 13:38] kavyabhat02 commented on #198
Ah okay, I'll do that. In this case, would these options to change email/phone numbers have to be on a different screen?

[2022-04-17 16:34] #401 closed, assigned to nobody

[2022-04-17 21:29] godsakani opened #408 "Add Pending changes to .gitignore file"
When project is clone and the various containers are initialized , it generate a lot of pending changes that need to be added.
possible solution:
move pending changes to .gitignore file to avoid pending changes.

![chan](https://user-images.githubusercontent.com/70459251/163732574-c2604d53-19d6-42ab-8a08-1933ecec5ca5.png)

[2022-04-18 10:19] souad988 commented on #207
Hi @tuxology
what do you think is this acceptable? or you want just to make the title bolder
![login title yellow](https://user-images.githubusercontent.com/59707859/163796338-e53c33c4-b214-430c-9d92-cc100513db9f.PNG)

[2022-04-18 14:10] alicendeh commented on #209
Hello @tuxology please i have a question regarding the way i should customize the toast?

This is how far I have gone

![Screenshot from 2022-04-18 15-09-03](https://user-images.githubusercontent.com/58989178/163820242-abb607d9-31b8-4568-8218-63e2cfd4f7ec.png)

[2022-04-18 15:29] tuxology commented on #209
@alicendeh Thanks for your efforts here! Seems like you are on the right track. Since there is a clear description of the text on the fields themselves, maybe the only thing we should do is to bring up the toast (red color which denotes error) on the screen which says something like:

"Looks like there are a few errors in the registration form. Review it before clicking Signup!"

The reason is tha

[2022-04-18 16:00] alicendeh commented on #209
Done @tuxology

here is the output
![Screenshot from 2022-04-18 16-58-28](https://user-images.githubusercontent.com/58989178/163836214-1f456754-cae9-4dd8-b479-b27c5f2fa543.png)

[2022-04-18 16:11] tuxology commented on #209
Thanks, very close! Lets refine this in the PR :+1:

[2022-04-18 16:16] alicendeh commented on #209
Thank you

[2022-04-18 17:48] tuxology commented on #198
@NdibeRaymond I feel we should challenge the users with their login/password. Change of email/phone number is a critical change in the account and if someone has access to a logged in machine, they can take over the account. This can also act as a secondary protection against possible future security issues for "account update" workflow. What do you think?

[2022-04-18 23:52] Francoise02 opened #415 "The navigation bar is not sticky when you scroll down"
**Describe the bug**
The navigation bar isn't sticky when you scroll down on the explore ideas page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'homepage'
2. Click on 'Explore ideas'
3. Scroll down to 'Any project close to the footer'
4. See error

**Expected behavior**
The navigation bar should stay visible at the top of the page regardless of whether you scroll down.

**Screens

[2022-04-18 23:53] Francoise02 commented on #415
@NdibeRaymond @tuxology I would like to work on this issue.

[2022-04-19 00:39] ghost opened #416 "Restructure Project Page"
## Description

Restructure the Project Page so it matches Cindy's designs.

## Learning objectives

- React
- CSS

## Todo

- [ ] Change project page to match web design
- [ ] Change project page to match mobile design

[2022-04-19 00:42] ghost opened #417 "Create Recommended Projects Endpoint"
## Description

Create an endpoint that will return recommended projects for a certain project.

## Learning objectives

- Django REST Framework

## Todo

- [ ] Determine the heuristic to use
- [ ] Add endpoint that will use a project ID to generate recommended projects

## Helpful Links
- Notion Page on Recommendation Heuristic - https://www.notion.so/h4iuiuc/fa3efb7a564348e1acd98c80f621a943?v=da

[2022-04-19 00:44] ghost opened #418 "Add Recommended Projects Bar"
## Description

Add bar to showcase the recommended projects for a project on the project page.

## Learning objectives

- React
- CSS

## Todo

- [x] Create container component to house the recommended projects
- [x] Use test projects to ensure it looks right
- [x] Adapt for mobile and web

[2022-04-19 01:12] #394 closed, assigned to khabdrick

[2022-04-19 01:21] #402 closed, assigned to Deepanshu039

[2022-04-19 01:38] AndrewLester opened #419 "Search autocomplete option's main text shrinks before short text"
**Describe the bug**
Search autocomplete option's main text is shrinking before their short text when the option's space is limited. See below:
<img width="454" alt="image" src="https://user-images.githubusercontent.com/23221268/163902690-4dee3229-3ef9-4ae9-9509-37b7b7ae70b3.png">

**To Reproduce**

1. Go to [https://zubhub.unstructured.studio/](https://zubhub.unstructured.studio/)
2. Shrink scree

[2022-04-19 02:38] AndrewLester opened #420 "Search autocomplete should bold query within results"
**Describe the bug**
The search autocomplete is displaying items that don't start with the query, but contain it as well. This is unintended, and is a bug that I expected the material ui autocomplete component to take care of.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://zubhub.unstructured.studio/](https://zubhub.unstructured.studio/)
2. Click on the search bar
3. Select

[2022-04-19 10:54] khabdrick commented on #420
I would like to work on this. I will like it be assigned to me?

[2022-04-20 07:32] Deepanshu039 commented on #419
@tuxology , @srish I would like to work on this issue.

[2022-04-20 09:32] Deepthi562 commented on #419
@AndrewLester, I would like to work on this. Please assign. Thank you.

[2022-04-20 09:33] Deepthi562 commented on #420
@AndrewLester, I would like to work on this. Please assign. Thank you.

[2022-04-20 11:37] souad988 commented on #417
Hi @ajain1921  i would like to work on this issue would you please assign it to me

[2022-04-20 12:01] souad988 commented on #203
Hello @srish  i would like to work on this issue, i suggest to add a condition when displaying the name in the menu

[2022-04-20 13:48] singhavs opened #423 "Footer alignment error"
## Description
**Problem**
The alignment of Footer is not in centre

![before](https://user-images.githubusercontent.com/67657066/164244520-71529195-d93c-49e6-b462-199d388b85f3.png)

[2022-04-20 13:58] singhavs commented on #423
Hey! @NdibeRaymond  can i work on this issue?

[2022-04-20 15:02] tuxology commented on #415
This issue is not related to the ZubHub application. ZubHub is hosted at zubhub.unstructured.studio. However, there is a task associated with moving these activities to ZubHub application. See https://github.com/unstructuredstudio/zubhub/wiki/Feature-Roadmap-&-Ideas-2022#3-allow-creation-of-learning-activities-on-zubhub-web-app for more info on actual task. Closing this one

[2022-04-20 15:02] #415 closed, assigned to nobody

[2022-04-20 15:29] tuxology commented on #420
@AndrewLester I'm just wondering isn't the goal of the search algorithm you used to look for n-grams in the text anywhere and not just the start?

### Example Case
If the creator name is `dreamsinparadise` and as a user I just remember someone who had `paradise` in their name, I would just start searching for `para..` and should then find `dreamsinparadise` in the results. Hence this looks like a

[2022-04-20 15:31] tuxology commented on #417
@souad988 Please ignore issues labeled as `h41`

[2022-04-20 15:36] tuxology commented on #423
@asaayushisingh This looks OK to me :thinking: . Are there other examples in other websites where footer text (if too much) is generally aligned to center in mobile views?  @NdibeRaymond What do you think?

[2022-04-20 17:16] souad988 commented on #417
ah! ok thanks for letting me know @tuxology

[2022-04-20 19:31] srish commented on #203
@souad988 I am assigning it to you :) Also, before you start working on it, make sure to double check that the issue still exists :-)

[2022-04-20 19:40] srish commented on #419
Thanks @AndrewLester for filing the issue! Assigning it to @Deepanshu039 on first come first serve basis :)

[2022-04-20 20:16] ghost opened #424 "Category on Create Project Form not working"
**Describe the bug**
The cateogory dropdown on the Create Project Form is not working.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Create Project
2. Click on Category Dropdown
3. Choose a category
4. The dropdown doesn't close and your selection doesn't show

**Expected behavior**
The dropdown should close after selection and the selection option should show in the field.

[2022-04-20 20:24] ghost commented on #424
Fixed with https://github.com/unstructuredstudio/zubhub/commit/3e853cfa31e609c53abbf3497b9676b544205bc5

[2022-04-20 20:24] #424 closed, assigned to nobody

[2022-04-20 21:04] souad988 commented on #203
thanks for the assignment @srish , i checked, the issue is still remaining the width of the menu increases with size of username
![long username](https://user-images.githubusercontent.com/59707859/164322701-36d7069e-844a-4e08-8771-372e3205c136.PNG)

[2022-04-20 21:40] tuxology commented on #177
I am reopening this since it seems like changes made in https://github.com/unstructuredstudio/zubhub/pull/366 got overwritten by another refactor of code. Apologies @Jumeb :cry: Can you recreate the PR with exact changes and resend it?

[2022-04-20 22:16] #398 closed, assigned to zorazrr

[2022-04-21 00:43] ghost opened #426 "Unpublish Project Form"
## Description

Add Unpublish Project Form to the Project page.

Context: Currently, moderators/staff only have the ability to unpublish comments. This form will allow them to unpublish projects and specify the reason for it.

## Learning objectives

- React
- CSS
- MUI

## Todo

- [ ] Add Modal with reasons
- [ ] Only show if user is staff/moderator

## Useful links

- https://www.figma.com/file/

[2022-04-21 00:47] ghost opened #427 "Create Unpublished Project Modal"
## Description

Add Unpublished Project Modal

Context: When a project is unpublished, this modal will indicate that and provide reasoning for why it was unpublished. The user will then know what needs to be changed so they can republish it.

## Learning objectives

- React
- CSS
- MUI

## Todo

- Add modal with reasons
- Trigger modal open upon project page open
- Add "Unpublished" tag that also

[2022-04-21 00:51] ghost opened #428 "Add Project Unpublished Backend Support"
## Description

Add backend support for project unpublishing.

## Learning objectives

- Django REST Framework
- PostgreSQL

## Todo

- [ ] Add type to PublishingRule that indicates unpublished
- [ ] Add endpoint that will unpublish a project and notify the user
- [ ] Add method of storing unpublish reasons

[2022-04-21 01:27] AndrewLester commented on #420
You bring up a good point @tuxology . The only reason I made this issue was that I think our original plan was to avoid showing results where some word didn't start with the query. The trigram searching was mainly applied because the standard Django search doesn't have that kind of "part of word" matching.

I agree having the search works for these cases is beneficial as you said, but I would supp

[2022-04-21 01:40] #209 closed, assigned to alicendeh

[2022-04-21 07:43] #384 closed, assigned to saxytony

[2022-04-21 09:44] Jumeb commented on #177
Ok, I'm on it.

[2022-04-21 15:15] souad988 commented on #203
Hi @srish
is this solution acceptable? i can add onMouseOver display the full name
![spliceLongName](https://user-images.githubusercontent.com/59707859/164489635-ba59ccf3-6e8b-4c6c-86a2-48c9f95daf4c.PNG)

[2022-04-21 16:09] tuxology commented on #203
@souad988 I think we should allow the width of menu to be extended to a "reasonable" number of characters. Lets say around 14 characters (its reasonable for humans to keep usernames like this that they can remember). If the width becomes more than 14 characters, we will follow your solution in https://github.com/unstructuredstudio/zubhub/issues/203#issuecomment-1104454732 Does this sound good?

[2022-04-21 16:11] tuxology commented on #420
Yes, sounds good @AndrewLester Lets focus on bolding the part of word :+1:

[2022-04-21 16:12] tuxology commented on #420
Also, lets give @khabdrick a chance to fix this in case you have not already started @AndrewLester?

[2022-04-21 16:31] souad988 commented on #203
Hi @tuxology  thanks for your response
for names less than 14 characters we display the fullName
![namesLessThan14](https://user-images.githubusercontent.com/59707859/164507760-24371d7f-5ba7-44aa-b417-32b58e3aed41.PNG)

[2022-04-21 16:36] Deepthi562 commented on #420
@tuxology I see that the text is already appearing in bold. Correct me if I misunderstood something. Thank you.

![pic4](https://user-images.githubusercontent.com/71760959/164508696-a0dcfac5-aedb-42d2-b9ad-738f40eb3957.png)

Kindly let me know if I can work on this or any issue, I am interested in this. Thank you.

[2022-04-21 16:46] souad988 commented on #203
i added bubble info so when user hover the username area they can see the full username,` {<Tooltip title={props.auth.username}  placement="top">
                          ...
                          </Tooltip> `

[2022-04-21 16:47] souad988 commented on #203
@tuxology  what do you think?

[2022-04-21 16:53] Deepthi562 commented on #427
Hi @ajain1921, the link is not redirecting
![pic5](https://user-images.githubusercontent.com/71760959/164511431-e5242da5-7260-4a49-940c-c30c775d4b95.png)

Please let me know how to get started with this, as I am a newbie and willing to work on this.

[2022-04-21 16:58] tuxology commented on #203
@souad988 This makes sense and looks good! :+1:

[2022-04-21 18:05] souad988 commented on #164
Hi @srish  i want to work on this issue would you assign it to me please

[2022-04-21 18:27] Deepthi562 commented on #419
@srish can I still work on this?

[2022-04-21 18:34] Deepthi562 commented on #56
@NdibeRaymond, I am interested in this. Could you please brief me a little more, provide some links, and assign this to me. Thank you.

[2022-04-21 18:39] Deepthi562 commented on #198
@tuxology i agree with you on this. I think email /password have to be  inlcuded with the username for security. Thank you. Let me know if i can work on this.

[2022-04-21 18:47] ghost opened #434 "Web Sharing Bugs"
**Describe the bug**

- The WhatsApp and Facebook buttons should redirect to a new tab or open up a new smaller window like `react-share` does
- Copying link isn't working

[2022-04-21 19:04] Deepanshu039 opened #435 "Navigation buttons on the caraousel images."
Left-right navigation buttons can be added in the carousel mode using which user can easily navigate between images. This functionality reduces the effort to preview images in a project and also quick navigation can be done using left-right button.

![Screenshot (88)](https://user-images.githubusercontent.com/92849065/164533537-bdf74da2-8872-4307-8c84-5cdf6d0a0a87.png)

two left-right buttons can

[2022-04-21 19:06] Deepanshu039 commented on #435
greetings @srish  @tuxology  ,I would like to work on this feature.

[2022-04-21 20:18] Deepthi562 opened #436 "missing links and broken links in readme.md"
## Description
1.  In the documentation heading i see that both web server and media server claiming that "below is the interactive documentation of web server API" but it is not mentioned.
![pic6](https://user-images.githubusercontent.com/71760959/164544397-23d97623-d1dd-4f78-905c-0c6e23526b09.png)
![pic7](https://user-images.githubusercontent.com/71760959/164544421-7a9ab825-f773-467c-ade0-692680

[2022-04-21 20:32] Deepthi562 commented on #435
@Deepanshu039 this is a good one!

[2022-04-21 20:38] Deepthi562 commented on #434
@ajain1921 I would like to work on this. Could you please assign it? Also, where are these Whatsapp and Facebook buttons you are refereeing to? I can only see the "contact us" option.
![pic10](https://user-images.githubusercontent.com/71760959/164548418-31e01076-e81b-48ed-9540-1000ea8b908c.png)

[2022-04-21 20:42] Deepthi562 commented on #408
@godsakani, I would like to work on this. Please assign and give more insights. Thank you.

[2022-04-21 20:50] Deepthi562 commented on #222
@srish i think we can use google translator API for this. Can u assign this to me? Thank you.

[2022-04-21 21:09] Deepthi562 opened #437 "unclear logos"
## Description
images in the media seem to be camouflaged.

## Todo

I would like to make new logos. I have attached the pictures of the unclear logos.

![pic11](https://user-images.githubusercontent.com/71760959/164552664-131db342-0fc3-42c8-b45f-14c519d535ee.png)
![pic12](https://user-images.githubusercontent.com/71760959/164552673-10775899-eb14-458b-b6a9-ebf12c936fbc.png)
![pic13](https://user-i

[2022-04-21 21:16] Deepthi562 commented on #202
@srish, did you mean to add it in the code or write saying this is the limit? Please clarify I would like to work.
![pic14](https://user-images.githubusercontent.com/71760959/164553605-d230960c-701e-4756-9d49-1fd213b24791.png)

[2022-04-21 21:20] Deepthi562 commented on #169
@srish i think we can add a settings option along with the (my profile, followers..) section and here in this  we can add a delete account option along with edit option.

[2022-04-21 21:23] Deepthi562 commented on #169
@srish i would like to work on this, kindly give me a little insight. Thank you.

[2022-04-21 21:25] Deepthi562 commented on #176
@srish can i work on this?

[2022-04-21 21:31] Deepthi562 commented on #303
@ajain1921, can I work on this if this isn't assigned to anyone?

[2022-04-21 21:41] srish commented on #176
@ubaxeeycabdullaahi Sorry I missed your comment earlier? Are you working on this task if not I can assign it to @Deepthi562.

@tuxology is this issue still valid and how would you advise one can approach this task?

[2022-04-21 21:49] srish commented on #169
@Deepthi562 I am assigning this task to you. Could you share 1 or 2 more examples of possible scenarios where to place the delete account setting? Try to also look into how other similar platforms are handling the UX around this feature. If possible, share rough sketches first to show what the placement would look like before working on the issue.

[2022-04-21 22:01] srish commented on #419
@Deepthi562 Only one person can work on an issue at a time :)

[2022-04-21 22:05] srish commented on #203
@souad988 Yeah, I like the idea of increasing the menu's width to up to certain characters. Could you also check how it looks on mobile web?

@tuxology I am now wondering do we not have a character limit on usernames? If not, perhaps we should and there can be a separate task around it. What say?

[2022-04-21 22:21] khabdrick commented on #420
@AndrewLester what branch can I pull to have this autocomplete patch
Plus @Deepthi562 is right, it boldens in result (on the live web app)

[2022-04-21 22:26] srish commented on #435
@Deepanshu039 Thank you for filing the issue! I'm a bit wondering the navigation buttons that you are referring to work as intended. Did you try clicking on the buttons annotated in the screenshot below:

![Screen Shot 2022-04-21 at 3 13 48 PM](https://user-images.githubusercontent.com/288353/164560457-13d26b8e-2ffb-4a21-8277-41b654b1531e.png)

[2022-04-21 22:27] AndrewLester commented on #420
You should be able to find the most recent autocomplete code on master.

Also, the specific bolding issue comes from the search query being strictly within a word of the search results main text. See the image example in my issue description.

[2022-04-21 22:28] srish commented on #222
@Deepthi562 This is a big task. I would encourage you to look at more small and easy tasks first.

[2022-04-21 22:30] srish commented on #202
@Deepthi562 This feature would require more brainstorming and discussion and is currently a less priority to us.

[2022-04-21 22:38] srish opened #438 "Clicking on a username in the comment box takes you to the current user's profile page"
**Describe the bug**
If you click on a username in the comment box, it will take you to the current user's profile page. Ideally, it should take you to the user's profile whose avatar or username is clicked.

**To Reproduce**
Steps to reproduce the behavior:

1. Visit the following project: https://zubhub.unstructured.studio/projects/61045c12-6eae-4678-abda-4f62161a2a8a
2. Scroll to the comments s

[2022-04-21 23:26] tuxology commented on #437
@Deepthi562 These are PNG/SVG images. They are intended to be like this - the camouflage look comes from a standard pattern used to show that there is transparency in images. Read more about PNG here: https://en.wikipedia.org/wiki/Portable_Network_Graphics I'm closing this since its a non-issue.

[2022-04-21 23:26] #437 closed, assigned to nobody

[2022-04-21 23:27] tuxology commented on #350
Closing this since we merged this :pray: Thank you @Jumeb

[2022-04-21 23:27] #350 closed, assigned to Jumeb

[2022-04-22 00:41] srish opened #439 "Delete account feature doesn't ask for a password; displays no error message when incorrect username is entered"
**To Reproduce**
Steps to reproduce the behavior:

1. Visit your profile page https://zubhub.unstructured.studio/profile
2. Click on the three dots on the top right
3. Click "Delete Account" button that pops up
4. You will notice a dialog that asks for username to confirm deletion. Should we not be asking for password instead?
5. Further, if you try to enter a username that's not yours, nothing ha

[2022-04-22 00:58] srish opened #440 "Text changes to "publish option" field in "create" form"
Currently, the last option in the "create" project form has a confusing language.

![Screen Shot 2022-04-21 at 5 44 54 PM](https://user-images.githubusercontent.com/288353/164575408-5396ba4a-ae15-44bb-be86-944ee280bafd.png)

How about we change "What publish option do you want to set for this project? " to "Ready to publish your project?"

And change the help text from  "Think about your target au

[2022-04-22 01:19] srish opened #441 "UX enhancements to "publish option" in "create" form"
First, some text changes are needed in the "publish option" field, issue is filed here: https://github.com/unstructuredstudio/zubhub/issues/440.

Second comes UX improvements, which have primarily to do with options in the dropdown. I think the four options are confusing and not entirely related to publishing.

I think the dropdown should only have two options, "Public" and "ZubHub Users". "Draft"

[2022-04-22 02:04] tuxology opened #442 "Mkdocs docs generation job is broken"
**Describe the bug**
We created a Ci job that build docs using Mkdocs as part of #392 Looking at the recent commits, it seems the build job is broken because mkdocs.yaml is not there. We should fix this.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/unstructuredstudio/zubhub/runs/6108082194?check_suite_focus=true
2. See that this job fails

**Expected behavior**
m

[2022-04-22 05:54] Deepanshu039 commented on #435
@srish
the navigation buttons you are referring works only when a image is not in preview mode.
In preview mode(refer my screenshot) you cannot click on those buttons(navigation left-right) in a single click, first you have to close the image(from preview mode) and then buttons can be clicked.

My proposal is to add the buttons itself in preview mode of images(refer my screenshot), so that navigat

[2022-04-22 06:23] Deepthi562 commented on #442
@tuxology i would like to work on this. Thank you.

[2022-04-22 06:23] Deepthi562 commented on #436
@tuxology please review this.

[2022-04-22 07:22] Deepthi562 commented on #169
In the main menu where we are displaying all the project and profile details we can add a settings option and inside that we can include log out, delete account, or any display settings like dark or light theme etc.

I am not a pro in ux , given some time i will definitely come up with the ux part, as of now i figured out where we can make changes in the code.

![pic15](https://user-images.githubu

[2022-04-22 08:30] Deepthi562 commented on #438
@srish I was looking into the code and found that the href statement for the person commenting is missing., only the image href is present.  Also, after clicking the commenting person's name, the page is not going back to the previous page. I am adding the relevant screenshots. Kindly correct me if I am wrong.

![pic16](https://user-images.githubusercontent.com/71760959/164649861-5a258c5e-686c-403

[2022-04-22 09:29] souad988 commented on #203
@srish thanks for accepting this approach, this is how it looks on mobile screen size
![splitedNameMobile](https://user-images.githubusercontent.com/59707859/164678458-0c531c1c-620d-4d47-bc7e-e60667a7ce3e.PNG)

[2022-04-22 12:20] NdibeRaymond commented on #442
This is a known issue @tuxology . There are many things wrong with the docs right now that I'd love to fix myself. I already have a PR in my local machine that potentially fixes this any many of the other minor problems in our docs right now. We should close this task (or edit it?) so we can more accurately describe what is wrong and whats needs to be done.

[2022-04-22 15:31] Deepthi562 commented on #439
@srish i understood what you are referring to, we can do this in two ways, 1)cookies and 2)sessions if the username and password match with the data in our database then we can generate cookie . Am i correct? Can we work this way?

[2022-04-22 16:45] tuxology commented on #442
Ok, I'm closing this since you already have a PR which fixes other parts.

[2022-04-22 16:45] #442 closed, assigned to nobody

[2022-04-22 20:30] tuxology commented on #435
@Deepanshu039 This is a good one. Do you want me to assign you? we can try by using similar left-right buttons (not so big though) as we currently have on the "carousel". We also need an explicit red button with a cross (imagine :red_circle: but with a white cross) to close the image viewer as well. We can place it on corner of the image.

[2022-04-22 20:34] tuxology commented on #438
Yes, that could be the issue @Deepthi562 However, you would need to make the changes in the relevant JSX files that populate the page. Do you want to work on this one?

[2022-04-22 20:38] tuxology commented on #436
I want to create a more larger task related to documentation and will take it upon myself. Hence we are not too keen on making small fixes here and there. @NdibeRaymond Is also working on multiple things currently related to generated documentation (see #392) We'll wait for him to finish this. When that work is finished, then we will do a review of the status of docs and work on fixing them. I'm c

[2022-04-22 20:38] #436 closed, assigned to nobody

[2022-04-22 21:12] godsakani commented on #441
Hello @srish  I wish to work on this issue

[2022-04-22 21:15] godsakani commented on #440
Hello @srish  I wish to work on this issue

[2022-04-23 00:50] abetco opened #445 "Tag autocomplete returning inaccurate result"
**Describe the bug**
Entering "hello" for the tags section of creating a projects gives the autocomplete result of "storytelling". It is unknown why this behavior exists and also if there is a more general issue with the tag autocomplete in the create project form. Requires more investigation.

**Screenshots**
![image](https://user-images.githubusercontent.com/40071557/164842623-84f07719-c7d6-443b

[2022-04-23 05:47] Deepthi562 commented on #438
@tuxology, yes, I would like to work on this.

[2022-04-23 06:27] alicendeh commented on #439
@srish please can i be assigned this task?

[2022-04-25 14:01] khabdrick opened #450 "Omission in API comment"
## Description

When trying to use the API using the Django REST framework frontend, I didn't know that "publish" is a required field in other for you to save a project with `ProjectCreateAPIView` because it wasn't in the API comment.

[2022-04-26 02:39] #434 closed, assigned to saxytony

[2022-04-27 01:11] srish commented on #169
@Deepthi562 If you can come with some design ideas for how the user experience related to account management and deletion might look like before attempting a PR, that will be helpful.

[2022-04-27 01:17] srish commented on #439
@Deepthi562 As you have been assigned one task already, I am going to assign this one to @alicendeh. Some tip: There should be a prompt that should ask for username and password that should both be verified once more. We should investigate a bit how other platforms are handling the password challenge to the user and mimic a similar workflow.

[2022-04-27 01:31] srish commented on #440
Ahha, my bad. I didn't know that there is an ongoing discussion to redesigning the "publish option" field in the form. @tuxology pointed me to a related issue and PR https://github.com/unstructuredstudio/zubhub/issues/334, https://github.com/unstructuredstudio/zubhub/pull/336. So, I would say that this very issue is currently not valid.

[2022-04-27 01:31] srish commented on #441
Ahha, my bad. I didn't know that there is an ongoing discussion to redesigning the "publish option" field in the form. @tuxology pointed me to a related issue and PR https://github.com/unstructuredstudio/zubhub/issues/334, https://github.com/unstructuredstudio/zubhub/pull/336. So, I would say that this very issue is currently not valid.

[2022-04-27 05:11] alicendeh commented on #439
Thank you @srish am working on it

[2022-04-27 20:15] #303 closed, assigned to gracewzhang

[2022-04-27 22:14] ghost opened #454 "Preview and Draft Mode Visibility"
**Describe the bug**
When a user creates a project in Preview/Draft mode, other users can still see the project by visiting the user's profile or  using the search bar.

**To Reproduce**
Steps to reproduce the behavior:

The easiest way to test this is by having two accounts.
1. Create a project in Draft or Preview Mode with Account A
2. Visit Account A's profile with Account B.
3. You should be a

[2022-04-28 16:55] tuxology commented on #454
@NdibeRaymond I think we would need your eyes on this as well. This seems to be related to "private mode" so just wanted to keep you in the loop.

[2022-04-29 07:46] alicendeh commented on #435
Can I work on this please?
@tuxology

[2022-04-30 13:13] alicendeh commented on #439
Hello @srish and @tuxology I have made some progress regarding the issue.

Firstly, I did the text modifications on the pop up and changed the text on the button as required

IMAGE BELOW
<img width="1792" alt="Screen Shot 2022-04-30 at 14 10 25" src="https://user-images.githubusercontent.com/58989178/166106950-fd69a726-797d-4d0a-8584-e50ecda705f3.png">

Also, I added the custom error message when

[2022-04-30 13:38] alicendeh commented on #439
@tuxology please I have a question I checked my browsers console to see the data which is available
 and all I can get is the token, the username,avater and others so id like to ask how do I get the users password from the server in other to do a check when the person enters their information to delete their account?

[2022-05-05 00:53] tuxology commented on #439
Hey @NdibeRaymond Can you explain what would be the correct way to take here? Is there a way we can take in the password, make a query again to the backend to re-validate the account?

[2022-05-05 08:33] Deepanshu039 opened #463 "Header part is not consistently responsive to different screen sizes."
**Describe the bug**
When the Zubhub main page is subjected to different screen sizes the UI of the header becomes inconsistent.
Different components like create project and search bar tend to overlap each other.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to  zubhub main page
2. Resize the screen
3. Observe the UI in different screen sizes

**Expected behavior**
The header should be

[2022-05-06 09:17] khabdrick opened #464 "Failing workflow"
**Describe the bug**
CI workflow is failing because Config file 'mkdocs.yml' is in a different directory (`docs/`).

**Screenshots**
![2022-05-06_10-11](https://user-images.githubusercontent.com/57852546/167103547-fd97241b-9858-4a0f-83dd-34d10ccda372.png)

It wasn't a lot of work so I have already prepared a pr to solve this issue.

[2022-05-07 21:24] godsakani commented on #440
@srish @kamthamc @tuxology

Please I need help
I Am unable to locate the HTML file. I mean the content of the front end.
I notice is rendered from the backend and have searched for it but am unable to locate it.
please can someone help me with directives I will be grateful

[2022-05-07 21:25] kamthamc commented on #440
Is this what you are looking for?

https://github.com/unstructuredstudio/zubhub/blob/ea32962fee39aee12c2fef4e0e8f23ef71ba3c36/zubhub_frontend/zubhub/public/locales/en/translation.json#L359

[2022-05-07 21:27] godsakani commented on #440
yes @kamthamc

[2022-05-07 21:29] godsakani commented on #440
Thank you @kamthamc

[2022-05-10 03:51] #334 closed, assigned to gracewzhang

[2022-05-10 06:31] godsakani commented on #408
Ok @Deepthi562

[2022-05-12 01:28] srish opened #470 "Unable to share project with a user, says username not valid"
**To Reproduce**
Steps to reproduce the behavior:

1. Try editing a project that you have created
2. Scroll to the bottom of the project form
3. Change the publish setting to 'preview'
4. Enter a username that is valid
5. See error

![Screen Shot 2022-05-11 at 6 18 46 PM](https://user-images.githubusercontent.com/288353/167972983-f5080f0c-0aa6-42de-96c9-20127219552b.png)

[2022-05-12 01:55] srish opened #471 "Notify a user when someone shares a project with them in private mode"
We now have a feature that allows users to share their project with another user in private mode #37. However, there are a couple of outstanding bugs #470 #454.

Right now, there is no way for a user to know if someone shares a project with them unless a communication happens outside ZubHub.

**To Reproduce**
You will need two accounts to test this feature. Log in with the first account and execut

[2022-05-12 01:58] srish commented on #37
There is now a feature that allows users to share their projects with another user in private mode. However, there are a couple of bugs #470 #454. In any case, this very issue can be considered as resolved.

[2022-05-12 01:58] #37 closed, assigned to NdibeRaymond

[2022-05-12 02:14] srish commented on #173
Seems to have been resolved. Closing for now!

[2022-05-12 02:14] #173 closed, assigned to godsakani

[2022-05-12 02:40] srish commented on #177
I have added a third bullet item to the task description.

[2022-05-12 15:58] tuxology opened #472 "Search returns empty for new tags assigned to creators"
**Describe the bug**
We can assign custom tags to users via the administration backend (Creators -> Click a creator -> Tags -> Click [+] -> Add tag -> Select tag -> Save). However once that is done, the tags are not searchable from the search bar which is done by selecting "Creators" in the search bar and searching for the newly created tag name. A potential reason for this is that the search inde

[2022-05-13 01:11] srish opened #474 "All category options (except 'None') are missing from the dropdown"
In the project creation form, we used to show a bunch of categories from here: https://github.com/unstructuredstudio/zubhub/blob/master/zubhub_backend/zubhub/projects/management/commands/categories.txt for the question "What is the category of your project?". Now these options are gone, and we only see "None" as an option in the dropdown.

[2022-05-13 01:52] srish opened #475 "Unable to type in the description field in project creation form on IOS"
The pattern was observed on an IOS device (13 pro with software version 15.3.1). I cannot type in the description field in the project creation form. Even though the field gets the focus upon clicking, I cannot see the cursor and type anything in. There is no issue with the web version, though. Also, tested it on Samsung Galaxy A10S (with Android version 10) and it works fine.

<img src="https://u

[2022-05-13 01:56] srish commented on #182
This feature works, closing for now.

[2022-05-13 01:56] #182 closed, assigned to nobody

[2022-05-14 03:04] NdibeRaymond commented on #474
closing because we were unable to reproduce this

[2022-05-14 03:04] #474 closed, assigned to nobody

[2022-05-14 04:11] #454 closed, assigned to nobody

[2022-05-14 04:58] #440 closed, assigned to nobody

[2022-05-14 04:59] #475 closed, assigned to nobody

[2022-05-14 04:59] #472 closed, assigned to nobody

[2022-05-14 04:59] #470 closed, assigned to NdibeRaymond

[2022-05-16 02:51] srish commented on #441
I am re-opening this issue!

<img width="933" alt="Screen Shot 2022-05-15 at 7 44 16 PM" src="https://user-images.githubusercontent.com/288353/168511186-aba654d9-1e9a-4c6a-a327-a027ad3762f5.png">

Some categories are not immediately clear right now, for example, what is the difference between everyone and all zubhub users. I think we could use the following options and they should be in a differen

[2022-05-16 02:54] godsakani commented on #441
Hello @srish  I wish to work on it

[2022-05-16 02:55] srish commented on #441
@godsakani Okay, please feel free to submit a PR. I believe this only requires text and order changes to the options. Should be fairly easy to do :)

[2022-05-16 03:02] godsakani commented on #441
Yes @srish
I wish ask if the first changes you requested up , am I to maintain it ?

[2022-05-16 03:03] godsakani commented on #441
Hello @srish
am asking about this changes here?

[2022-05-16 14:04] godsakani commented on #441
Hello @srish please check if these changes are fine so I can open a PR on it.
![fix](https://user-images.githubusercontent.com/70459251/168610866-78533002-da8e-4e22-9726-34a742d42fd0.png)

[2022-05-16 19:47] tuxology commented on #441
@srish @godsakani I think we should rethink this a bit and be a bit clear about what we want before PR is worked upon. Also be aware that this option will change again when the Draft mode PR with custom Draft button is worked upon. Here is what I would comment on [this comment](https://github.com/unstructuredstudio/zubhub/issues/441#issuecomment-1127159576):

- The ordering is good. We should also

[2022-05-16 19:55] godsakani commented on #441
@tuxology
 I should change the oder?

[2022-05-16 20:00] tuxology commented on #441
See my previous comment. We should discuss this a bit more before we send a PR (for example, changing order) . Let's wait for @srish to comment. If you have something to add, please do.

[2022-05-16 20:05] godsakani commented on #441
ok, sir.
thank you

was also thinking if we can use just:
All ZubHub Users
Everyone on the web

since the other ones almost sound the same

[2022-05-16 23:32] srish commented on #441
Looks like @tuxology suggested the following options:

I am okay with the order now. Still wondering about "Only a few ZubHub users" and "Everyone on the web." It is not immediately clear what they mean. For example, would children immediately understand what web means? Maybe internet is a better world in this context? I don't have alternative suggestions myself for "Only a few ZubHub users". So u

[2022-05-16 23:43] srish commented on #195
I am closing this for now as we have #222

[2022-05-16 23:43] #195 closed, assigned to nobody

[2022-05-17 00:09] tuxology commented on #441
Maybe we can say, "Registered ZubHub users" and "Everyone on the internet"? Would that be better?

[2022-05-17 00:25] srish commented on #198
Removing the assignee, as there was no progress recently.

[2022-05-17 07:01] srish commented on #441
Yes, that makes a lot of sense to me.

[2022-05-17 08:04] godsakani commented on #441
So we have
1. Only me
2. Registered ZubHub Users
3.  All ZubHub users
4. Everyone on the internet

Correct me if am wrong  @srish  @tuxology

[2022-05-17 08:05] godsakani commented on #441
I have a question @srish  and @tuxology

Please what is the difference between Registered ZubHub users and All ZubHub Users?

[2022-05-17 11:31] tuxology commented on #441
@godsakani Here is the correct order and their meaning:

1. Only me
2. Only a few ZubHub users
3. All registered ZubHub users
4. Everyone on the internet

Number 1 & 4 are self explanatory. 2 means only a few of the registered users on Zubhub. This mode is meant to share your project with only a few friends/educators and not make it public to everyone. Number 3 is everyone who is currently registe

[2022-05-17 11:57] godsakani commented on #441
ok, @tuxology  thanks a lot for the explanation.
One last question am I to follow the order as mentioned above like the default should be only me and the rest follow the same?

[2022-05-17 12:04] tuxology commented on #441
Default should be "Everyone on the internet "

[2022-05-17 12:11] godsakani commented on #441
ok Thank you sir

[2022-05-17 14:41] godsakani commented on #441
Hello @tuxology , @srish
Are this changes ok? so I can create the PR

![chan](https://user-images.githubusercontent.com/70459251/168838366-1a87e123-d27e-40da-b409-cbbd1cca280c.png)

[2022-05-17 21:13] srish commented on #201
I've made minor changes to the title and description of the original task.

[2022-05-17 21:29] srish commented on #200
I've made some adjustments to the task title and description

[2022-05-17 22:26] srish commented on #223
The project I linked earlier no longer shows the error, and the video renders appropriately. In any case, if there is a way to know if / when an error is generated, we show a custom image to demonstrate the same?

[2022-05-17 22:39] srish opened #481 "Error while creating a project - the app stays on the 'create' page even though the project is created."
I am trying to create a test project with a you tube video URL via "https://zubhub.unstructured.studio/projects/create." For some reason, the project gets created, but once that is done I am not taken to the https://zubhub.unstructured.studio/profile page. Instead, the app stays here https://zubhub.unstructured.studio/projects/create. And, I see a 500 error with
API POST request https://api.zubhub

[2022-05-17 22:42] srish commented on #226
Closing this for now as we have unstructuredstudio/zubhub-mobile#17 now

[2022-05-17 22:42] #226 closed, assigned to nobody

[2022-05-18 19:07] souad988 commented on #481
Hi @srish
i created a new project using the same link https://zubhub.unstructured.studio/projects/create as a video link, but the project was created successfully and i was redirected to the profile page

[2022-05-21 01:04] srish commented on #277
We have support for text formatting now in place.

[2022-05-21 01:04] #277 closed, assigned to nobody

[2022-05-21 01:57] srish commented on #284
This task is complete.

[2022-05-21 01:57] #284 closed, assigned to gracewzhang, zorazrr

[2022-05-21 02:00] #285 closed, assigned to AndrewLester, saxytony

[2022-05-21 02:10] #333 closed, assigned to nobody

[2022-05-21 02:12] #332 closed, assigned to AndrewLester

[2022-05-21 02:17] #298 closed, assigned to AndrewLester

[2022-05-21 02:18] #299 closed, assigned to saxytony

[2022-05-21 02:29] #321 closed, assigned to AndrewLester

[2022-05-21 02:30] #304 closed, assigned to zorazrr

[2022-05-21 02:36] #359 closed, assigned to nobody

[2022-05-21 22:04] #56 closed, assigned to NdibeRaymond

[2022-05-22 01:37] #203 closed, assigned to souad988

[2022-05-23 02:34] #227 closed, assigned to nobody

[2022-05-23 02:58] #428 closed, assigned to AndrewLester

[2022-05-23 02:58] #427 closed, assigned to nobody

[2022-05-23 02:59] #426 closed, assigned to gracewzhang

[2022-05-23 03:22] srish commented on #423
I am closing the PR and the issue for now as there is no further progress made. Further in my personal opinion concern raised in the issue is not entirely valid or urgent.

[2022-05-23 03:22] #423 closed, assigned to nobody

[2022-05-23 03:30] srish commented on #381
@ajain1921 @AndrewLester I recently tried testing the notification feature (with two accounts), and it is not working for me. I tried by leaving a comment on a user's project and I don't see any notification for this activity. Furthermore, when I add a comment, I get an error message: "..Sorry it looks like we have hit a snag, please try again later".

[2022-05-23 03:40] ghost commented on #381
@srish I think suchakra was having similar issues with his account before as well but we weren't able to reproduce them with the accounts that we're using. I'm thinking it might have something to do with the fact that the accounts are Staff accounts. Are both the accounts that you tried Staff accounts or is there anything different about them compared to normal accounts that a user might create?

[2022-05-23 04:29] srish commented on #381
@ajain1921 Yes, I tested with both staff accounts.

[2022-05-23 04:31] ghost commented on #381
@srish Ok interesting. I'm guessing this issue is specifically for Staff accounts then, which we didn't test the feature with. We'll try to have a fix ready for it soon.

[2022-05-23 04:38] srish commented on #481
@souad988 Ahha, thanks for testing it. I made a mistake in the description, I meant YouTube video link and I remember it was happening when I was intentionally leaving errors in some other fields too.

[2022-05-23 04:43] srish commented on #381
@ajain1921 Another thing that I have noticed is that when I try to clap on a project, I get an error "hmm, seems like we could not delete your project.. try again later," and in the case of bookmarking, I get an error "looks like you have hit a snag..". I wonder if this also has to do with a bug in the notifications system right now, as I noticed the same issue when I commented on a project. Let m

[2022-05-23 04:44] ghost commented on #381
@srish I think that all has to do with notifications because events like bookmarking and clapping are triggers for notifications.

[2022-05-23 04:54] srish opened #483 "Remove the text "Can't play video? Click here" beneath video description"
Remove the text "Can't play video? Click here" that appears beneath the video on the project description page. The reason why we were displaying the text previously was due to a backend issue that has now been resolved.

See the screenshot below.
<img width="200px" src="https://user-images.githubusercontent.com/288353/169745798-ff9acbb5-0561-4a86-a8bc-3755723e99e9.png">

[2022-05-23 05:23] srish opened #484 "Make enhancements to user profiles"
Currently, each user gets their own public profile when they create an account. Here is an example:https://zubhub.unstructured.studio/creators/suchakra. The public profile currently consists of a basic description of the user, a count of followers, a showcase of projects, and a public comment wall. We wish to enhance the user profile page by adding more engagement features such as statistics (e.g.

[2022-05-23 17:31] souad988 commented on #205
Hi @srish
I will go through the resources you shared, take notes then leave my questions here

[2022-05-23 17:53] Deepanshu039 commented on #484
Greetings @srish , I would like to work on this feature.

[2022-05-23 18:10] Deepanshu039 commented on #484
I will also update my questions and suggestions to this discussion.

[2022-05-26 21:34] tuxology commented on #381
Here are the attached logs from production backend when submitting comments. The comments system is also broken because of this it seems:

[code]

[2022-05-27 10:26] #441 closed, assigned to nobody

[2022-05-28 01:17] NdibeRaymond commented on #439
Hello @alicendeh, django doesn't store password as plaintext (and this is a good thing). Something that can be tried is,
* to submit a request to delete a user along with the password, then we can do a comparison in the background to find out if the password matches or not (passwords are not stored, but the hash of the passwords are, so we can still hash the incoming password then compare it with

[2022-05-30 17:11] #420 closed, assigned to khabdrick

[2022-05-30 18:00] tuxology commented on #347
**Update:** This issue is to be kept open since this is still half way done. I am assigning it to myself. Currently, the `mkdoks` job (`ci.yml`) is breaking and the deployments are not working. In addition, we need to fix the documentation itself as discussed here : https://github.com/unstructuredstudio/zubhub/pull/392#issuecomment-1100777444

[2022-05-30 18:05] tuxology commented on #464
Reopened because the PR didn't fix it. Assigning this to myself as this is related to efforts I'll put in https://github.com/unstructuredstudio/zubhub/issues/347

[2022-05-30 18:07] #450 closed, assigned to nobody

[2022-05-30 18:25] tuxology commented on #408
@godsakani Would you like to create the gitignore and add the relevant files in it?

[2022-05-30 18:26] tuxology commented on #323
@ajain1921 This does seem like much of this is done. If yes, can we close this?

[2022-05-30 18:28] godsakani commented on #408
Yes @tuxology

[2022-05-30 18:30] tuxology commented on #335
@ajain1921 Seems like this is linked to #338 Should we resolve commits there and merge?

[2022-05-30 19:26] tuxology commented on #417
@ajain1921 Are we on track for this or should we wait more? I see that this is linked to the fronted parts #418 and #421 and is being attempted in #458. Is this ready for merging or we need more work here?

[2022-06-02 02:15] BemaFisher opened #488 "Inconsistent wording of terms "sign in"/"log in" and "sign up""
**Describe the bug**
Currently, when user needs to sign in/log in or sign up, the wording of terms for signing in or signing up  are inconsistent. For example, when user presses button to share a project, it says the user needs to press "signin" button there is no button named "signin".

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Homepage
2. Click on 'share a project'

**Expected

[2022-06-04 05:37] Deepanshu039 commented on #484
These are the categories I was thinking of in which we can assign badges to the creators: -
1. On the basis of Project count ---> (1+ project, 10+ project, 100+project )
2. On the basis of total views count ---> (1k+ views, 10k+ views, 100k+views)
3. On the basis of the Likes count  ---> ( 100+ likes, 1k+ likes, 10+ likes)
4. On the basis of Comments a creator makes ---> (100+ comments, 500+ comme

[2022-06-05 12:18] #347 closed, assigned to tuxology

[2022-06-05 14:09] NdibeRaymond commented on #347
I spent sometime working on this over the weekend @tuxology. Here is the link to the deployment https://unstructuredstudio.github.io/zubhub/

[2022-06-06 22:15] tuxology commented on #481
I just tested it. We do get a 500 error, but the project gets created

[2022-06-06 22:26] tuxology commented on #464
Closing this because its fixed now!

[2022-06-06 22:26] #464 closed, assigned to tuxology

[2022-06-06 23:01] srish commented on #484
@Deepanshu039 The initial design looks great and makes a lot of sense! :-) I also like the placement of achievement box. Sharing a few thoughts:

First on what additional badges to consider besides the one you have already shared:
* On the basis of comments a creator has received
* Project featured by studio / Featured on homepage. For example, see "Projects from our recent creative learning works

[2022-06-09 20:55] arushi2715 commented on #483
Hey @srish I would like to work on this issue.
Could you please assign it to me.

[2022-06-10 02:29] srish commented on #483
@arushi2715 done and welcome to our project:)

[2022-06-12 22:24] arushi2715 commented on #483
Hye @srish!
I wanted to know that is there a test account using which i can login and check the functionalities of the project?
Also, the delete and edit button are available just for the creator of the project?
If so then do i need to create a project to check the sizes of button?

[2022-06-13 05:39] ttseng commented on #484
Following up from the start of our conversation on Friday.

It's great that you're starting to think about what will motivate people to revisit the site and their profile page.  It might be helpful to list out the intended end goals, which I think would help inform what enhancements you design for the profile page.  For example, some potential goals may be,

A) helping users connect with other com

[2022-06-13 08:52] godsakani commented on #408
Hello @tuxology
Am closing this issue because I noticed @NdibeRaymond  already work on this issue some months ago.
you can check it out here issue #7

[2022-06-13 08:52] #408 closed, assigned to godsakani

[2022-06-14 01:53] srish commented on #483
@arushi2715 We do not have a test account. You can create one for your use to check the functionalities of the project. And yes creating the project seems like the right way to go about it.

[2022-06-15 18:09] aashimawadhwa opened #499 "not able to delete the repository files from my local machine."
**Describe the bug**
not able to delete the repository files from my local machine , it's duplicating with some malicious files.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to cloned repository files in your local machine
2. Click on delete
3. Scroll down
4. See error

**Expected behavior**
The files should delete with the terminal commands and manana delete option

**Screenshots**
!

[2022-06-20 16:40] souad988 opened #500 "create a new view to display list of activities ."
create a new view to display list of activities .

## Todo

- [x] Create activities.js with basic component.
- [x] Add  root to activities on app.js.
- [x] Add activities button in home header to redirect user to activities view.
- [x] Create activities initial state and reducer and Update combineReducers to include activitiesReducer.
- [x] Create a genereric activities json object list to use unt

[2022-06-21 21:52] souad988 opened #502 "Connect activities component to the store."
## Todo

- [x] Connect Activities component to the store.
- [x] Add getActivities method to API.

[2022-06-28 09:05] Deepanshu039 opened #504 "Restructure the user's stats on the profile."
## Description
Restructure the user's profile.

## Learning objectives

- React
- CSS

## Todo

- restructure user's stats
- test for different lengths of user name
- make it look good in mobile view

[2022-06-29 10:49] souad988 opened #506 "Create activities banner with video carousel."
- [x] create the video carousel.
- [x] Add state to current slide of carousel and auto play active slide video.
- [ ] Fix carousel styling for mobile size.
- [ ] Handle different video source types.
- [ ] Fix styling to stick to figma [design](https://www.figma.com/file/jEy3xfgLKa7VGaJgf4Bwmx/create-activity-button?node-id=73%3A121)
- [ ] Add Build this button to redirect the user to activity crea

[2022-06-29 10:49] souad988 opened #507 "Create activity card component."
## Todo

- [x] Create Activity component.
- [x] Create projects count Icon
- [x] Add activity creator link and Image
- [x] Display activity tags
- [ ] Follow figma  [design](https://www.figma.com/file/jEy3xfgLKa7VGaJgf4Bwmx/create-activity-button?node-id=73%3A121)
- [ ] Wrap activity card with a Link to activityDetails view .

[2022-07-01 09:51] souad988 opened #511 "Add prev & next buttons to scroll activities list."
- [ ] Add prev and next buttons to activities list .

[2022-07-04 18:09] Deepanshu039 opened #512 "Add badges feature on the user's profile"
## Todo

- [x] #513
- [x]  Call the API  and handle the response appropriately
- [x] #517
- [x]  Adding reusable stying component to the badges
- [x]  Add styling to make the look similar to [figma](https://www.figma.com/file/qwDHghGfIPy9740jLylPwH/figma-mockup_1.0?node-id=0%3A1) design

[2022-07-05 08:02] Deepanshu039 opened #513 "Add a container for badges on the user's profile."
Add a badge component(container) on the user's profile which will display the badge tags.

[2022-07-05 08:05] Deepanshu039 opened #514 "Build APIs to fetch total_views_count, total_comments_count, and total_likes_count on the user's profile."
Create a new api that will return total views, total comments, and total likes for all the projects of a user.
- [ ] create an endpoint and connect it with the corresponding class view
- [ ] create a view to handle the logic
- [ ] create serializer to convert model data into dictionary

[2022-07-05 08:06] Deepanshu039 opened #515 "Create a new file to return the titles of the badges in particular categories to the user's profile."

[2022-07-06 14:36] bennaaym opened #516 "Issues setting up the project locally"
Hello, I'm trying to set up the project locally on my machine however I'm getting the following issues:

- When trying to run `make init`
[code]

- When trying to run `docker-compose up`:
[code]

### Environment:
- Windows 10
- GNU Make 4.3
- Docker Compose version 1.29.2
- Docker version 20.10.14

[2022-07-06 17:44] Deepanshu039 opened #517 "Create a new file to return the titles of the badges in particular categories to the user's profile."
Create a separate file that will assign the correct badge_title in a particular category according to the likes_count, views_count, project_count, and comments_count on the user's profile.

[2022-07-07 09:17] Deepanshu039 commented on #517
A new file has been created to identify which title is applicable in a category with the name DisplayBadges.js.

[2022-07-22 21:05] Deepanshu039 opened #520 "Clap button on user's profile is not working"
**Describe the bug**
Clap button(Like Button) on the user's profile is not incrementing the total clap value and showing an error _t.map is not a function_.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Homepage of website'
2. Click on 'any user's profile '
3. Try clicking clap button on the projects
4. See error (in the top right corner)

**Expected behavior**
When clicked on clap

[2022-08-11 14:33] khabdrick commented on #520
Hello @Deepanshu039 , has this been fixed?
I'd like to take it up

[2022-08-13 12:56] Deepanshu039 commented on #520
hi @khabdrick, you can work on this. Just ask @srish or @tuxology they will assign you the issue : )

[2022-08-23 10:27] khabdrick commented on #520
@tuxology can you assign me to this

[2022-08-30 20:33] tuxology commented on #520
@khabdrick Sorry this slipped my notifications. Just assigned this to you!

[2022-09-03 01:01] #504 closed, assigned to Deepanshu039

[2022-09-03 18:14] Deepanshu039 opened #528 "Very long usernames are pushing the tags(creator, staff etc.) from the project display card."
**Describe the bug**
If a user has a very long username then it can push the tag of a user outside the project display card.

**Expected behavior**
The entire tag of a user should be visible on the project card.

Like this:-
![Screenshot (329)](https://user-images.githubusercontent.com/92849065/188283189-484dc391-ecad-4ec3-bd44-f163d0551ac8.png)

**Screenshots**
what is happening right now :-
![Sc

[2022-11-11 21:42] camouflagedName commented on #445
Hi, I think I have a solution for this. On the backend, there is an autocomplete function that measures the similarity between the queried tag and tags already in the db. The similarity threshold seems to have been set as low as possible. Raising this seems to decrease inaccurate results.

The fix requires changing a value from 0.01 to a larger value such as 0.25 or 0.3 in projects/views.py. Djang